@use './../mixins' as *;

/* Кнопки */
.btn {
  --btn-width: fit-content;
  --btn-height: 5rem;
  --btn-color: var(--purple);
  --btn-background: transparent;
  --btn-border-radius: 10rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
  flex-shrink: 0;
  width: var(--btn-width);
  min-width: var(--btn-height);
  height: var(--btn-height);
  padding: 0 2rem;
  transition: all 0.5s ease;
  overflow: hidden;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 120%;
  color: var(--btn-color);
  white-space: nowrap;
  text-transform: uppercase;

  position: relative;
  z-index: 1;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  a:hover &,
  &:hover {

    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }

    .border {

      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.5s ease;

    background: radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    border-radius: var(--btn-border-radius);
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;

    background: radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(254, 154, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    border-radius: var(--btn-border-radius);
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &--icon {
    padding: 0;
  }

  &--inner {
    padding: 0 1.4rem 0 2rem;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: none;


  }

  &--inner-icon {
    --btn-width: 2.4rem;
    --btn-height: 2.4rem;

    padding: 0;

    .icon-chevron:not(.faq__item .btn .icon-chevron, .header__signup-btn .icon-chevron) {
      transform: rotate(-90deg);
    }
  }

  &--social {
    padding: 0 1.4rem 0 2rem;

    font-weight: 600;
    font-size: 1.4rem;
    text-transform: none;
  }

  // &--whatsapp {

  //   a:hover &,
  //   &:hover {
  //     background-image: radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(56, 239, 125, 0.07) 100%);
  //   }
  // }

  // &--telegram {

  //   a:hover &,
  //   &:hover {
  //     background-image: radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(2, 174, 255, 0.07) 100%);
  //   }
  // }
}