@use './../mixins' as *;

.filter {

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 5rem;
    padding: 0 2rem;
    border-radius: 10rem;
    overflow: hidden;
    position: relative;

    font-weight: 600;
    font-size: 1.4rem;
    line-height: 120%;
    color: var(--purple);

    &:hover {

      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }

      .border {

        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      opacity: 1;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background: radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
      -webkit-box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
      box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
      backdrop-filter: blur(6.35px);
      border-radius: var(--btn-border-radius);
      pointer-events: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background: radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(254, 154, 255, 0.07) 100%);
      -webkit-box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
      box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
      backdrop-filter: blur(6.35px);
      border-radius: var(--btn-border-radius);
      pointer-events: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__input {
    display: none;
  }
}