@use './../mixins' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include md {
    gap: calc(100vw/(393/40));
  }

  @include sm {
    gap: 4rem;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include md {
      gap: calc(100vw/(393/20));
    }

    @include sm {
      gap: 2rem;
    }
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 100%;

    @include md {
      font-size: calc(100vw/(393/20));
    }

    @include sm {
      font-size: 2rem;
    }
  }

  &__text {
    max-width: 47.5rem;

    @include md {
      max-width: calc(100vw/(393/475));
    }

    @include sm {
      max-width: 100%;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include md {
      gap: calc(100vw/(393/20));
    }

    @include sm {
      gap: 2rem;
    }
  }

  &-group {
    width: 100%;
    position: relative;

    i {
      font-size: 2.4rem;
      color: var(--purple);

      position: absolute;
      top: 50%;
      left: 2rem;
      transform: translateY(-50%);

      @include md {
        font-size: calc(100vw/(393/24));

        left: calc(100vw/(393/20));
      }

      @include sm {
        font-size: 2.4rem;

        left: 2rem;
      }
    }
  }

  &-input {
    --border-radius: 10rem;

    width: 100%;
    height: 5rem;
    padding: 2rem 2rem 2rem 5.4rem;
    background: transparent;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 120%;
    color: var(--white);

    box-shadow: inset 0px 0px 1.14rem rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(0.635rem);
    border-radius: var(--border-radius);
    transition: all 0.5s linear;

    @include md {
      --border-radius: calc(100vw/(393/100));

      height: calc(100vw/(393/50));
      padding: calc(100vw/(393/20)) calc(100vw/(393/20)) calc(100vw/(393/20)) calc(100vw/(393/54));

      font-size: calc(100vw/(393/14));
    }

    @include sm {
      --border-radius: 10rem;

      height: 5rem;
      padding: 2rem 2rem 2rem 5.4rem;

      font-size: 1.4rem;
    }

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 120%;
      color: var(--purple);
      transition: all 0.5s linear;

      @include md {
        font-size: calc(100vw/(393/14));
      }

      @include sm {
        font-size: 1.4rem;
      }
    }

    &.filled,
    &:checked,
    &:focus,
    &:hover,
    &:target {
      color: var(--pink-2);

      @include domd {
        padding: 2rem 2rem 2rem 6.4rem;
      }

      &::placeholder {
        color: var(--pink-2);
      }

      &+i {
        color: var(--pink-2);

        @include domd {
          left: 3rem;
        }
      }

      &+*+.border {

        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &-btn {
    --border-radius: 10rem;
    
    width: 100%;
    text-transform: none;
    transition: all 0.5s linear;

    @include md {
      --border-radius: calc(100vw/(393/100));
    }

    @include sm {
      --border-radius: 10rem;
    }

    @include domd {

      &:hover {
        padding: 0 3rem;
      }
    }
  }

  &-checkbox {
    display: none;

    &:checked {

      &+.form-checkbox--item>.form-checkbox--icon {

        &::before {
          background-color: var(--pink-2);
        }
      }
    }

    &--item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.6rem;

      @include md {
        gap: calc(100vw/(393/6));
      }

      @include sm {
        gap: 0.6rem;
      }
    }

    &--icon {
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      background-color: var(--blue-dark-1);
      position: relative;
      flex-shrink: 0;

      @include md {
        width: calc(100vw/(393/16));
        height: calc(100vw/(393/16));
      }

      @include sm {
        width: 1.6rem;
        height: 1.6rem;
      }

      &::before {
        content: "";
        width: 0.933rem;
        height: 0.933rem;
        border-radius: 50%;
        background-color: var(--purple);
        flex-shrink: 0;
        transition: all 0.3s ease;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);

        @include md {
          width: calc(100vw/(393/9.33));
          height: calc(100vw/(393/9.33));
        }

        @include sm {
          width: 0.933rem;
          height: 0.933rem;
        }
      }
    }
  }

  &-foot {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    @include md {
      gap: calc(100vw/(393/18));
    }

    @include sm {
      gap: 1.8rem;
    }

    p {
      font-size: 1.2rem;
      color: var(--purple);

      @include md {
        font-size: calc(100vw/(393/12));
        line-height: 120%;
      }

      @include sm {
        font-size: 1.2rem;
      }
    }

    a {
      text-decoration: underline;

      &:hover {
        color: var(--pink);
      }
    }
  }

  &-wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2.3rem;

    @include md {
      margin-left: calc(100vw/(23));
    }

    @include sm {
      margin-left: 2.3rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 100%;

      @include md {
        font-size: calc(100vw/(393/12));
      }

      @include sm {
        font-size: 1.2rem;
      }
    }
  }
}