@use './../mixins' as *;

.mask {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: all 0.6s ease-out;
  position: absolute;
  z-index: -1;

  /* Оптимизация */
  will-change: transform;
  transform: translateZ(0);

  @include md {
    display: none;
  }

  &.mask--hero {
    width: 127rem;
    height: 64.1rem;

    top: -0.5rem;
    right: 10.5rem;

    @include md {
      display: block;
      // width: 37.9rem;
      width: calc(100vw/(393/379));
      // height: 19.1rem;
      height: calc(100vw/(393/191));

      top: 0;
      // right: -0.6rem;
      right: calc(-100vw/(393/6));
    }
  }

  &.mask--find-us {
    width: 157.9rem;
    height: 151.3rem;

    top: -8.4rem;
    left: -67.1rem;
    z-index: -1;
  }

  &.mask--1 {
    background-image: url('./../../images/mask/mask-1.avif');
    width: 239.8rem;
    height: 269.6rem;

    top: -123.6rem;
    right: -82.2rem;

    .page__inner & {
      top: -58.5rem;
    }
  }

  &.mask--2 {
    background-image: url('./../../images/mask/mask-2.avif');
    width: 174.1rem;
    height: 204rem;

    top: -45.6rem;
    right: -38.8rem;
  }

  &.mask--3 {
    background-image: url('./../../images/mask/mask-3.avif');
    width: 164.7rem;
    height: 166rem;

    top: -43.5rem;
    right: -76.6rem;
  }

  &.mask--4 {
    background-image: url('./../../images/mask/mask-4.avif');
    width: 335.1rem;
    height: 392.6rem;

    // top: -88.5rem;
    // top: -44.2rem;
    top: -58.2rem;
    left: -99.3rem;
  }
}