@use './../mixins' as *;

.mask {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: all 0.6s ease-out;
  will-change: transform;
  transform: translateZ(0);

  position: absolute;
  z-index: -1;

  @include md {
    display: none;
  }

  &.mask--hero {
    width: 127rem;
    height: 64.1rem;

    top: -0.5rem;
    right: 10.5rem;

    @include md {
      display: block;
      width: calc(100vw/(393/379));
      height: calc(100vw/(393/191));

      top: 0;
      right: calc(-100vw/(393/6));
    }
  }

  &.mask--find-us {
    width: 157.9rem;
    height: 151.3rem;

    top: -8.4rem;
    left: -67.1rem;
    z-index: -1;
  }

  &.mask--1 {
    background-image: url('./../../images/mask/new-mask-1.webp');
    width: 157.6rem;
    height: 269.6rem;

    top: -123.6rem;
    right: 0;

    .page__inner & {
      top: -58.5rem;
    }
  }

  &.mask--2 {
    background-image: url('./../../images/mask/new-mask-2.webp');
    width: 135.3rem;
    height: 204rem;

    top: -45.6rem;
    right: 0;
  }

  &.mask--3 {
    background-image: url('./../../images/mask/new-mask-3.webp');
    width: 88.1rem;
    height: 166rem;

    top: -43.5rem;
    right: 0;
  }

  &.mask--4 {
    background-image: url('./../../images/mask/new-mask-4.webp');
    width: 100%;
    height: 238.4rem;

    top: -58.2rem;
    right: 0;
  }
}