@use './../mixins' as *;

h1 {}

h2 {
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 700;
  font-size: 12rem;
  line-height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)), radial-gradient(42.06% 481.38% at 15.28% 29.16%, #AD32AE 0%, #3C49C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  @include md {
    font-size: 3rem;
  }
}

h3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 5rem;
  line-height: 100%;
  background: radial-gradient(42.06% 481.38% at 15.28% 29.16%, #AD32AE 0%, #3C49C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  @include md {
    font-size: 2.4rem;
  }
}

h4 {}

h5 {}

h6 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 140%;

  @include md {
    font-size: 1.4rem;
  }
}

p {
  font-size: 1.6rem;

  @include md {
    font-size: 1.4rem;
  }
}