@use './../mixins' as *;

h1 {}

h2 {
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 700;
  font-size: 12rem;
  line-height: 100%;

  @include md {
    font-size: calc(100vw/(393/30));
  }

  @include sm {
    font-size: 3rem;
  }
}

h3 {
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 700;
  font-size: 8rem;
  // line-height: 100%;
  line-height: 120%;

  @include md {
    font-size: calc(100vw/(393/30));
  }

  @include sm {
    font-size: 3rem;
  }
}

h4 {
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 100%;

  @include md {
    font-size: calc(100vw/(393/24));
  }

  @include sm {
    font-size: 2.4rem;
  }
}

h5 {
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 100%;

  @include md {
    font-size: calc(100vw/(393/16));
  }

  @include sm {
    font-size: 1.6rem;
  }
}

h6 {
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 140%;

  @include md {
    font-size: calc(100vw/(393/14));
  }

  @include sm {
    font-size: 1.4rem;
  }
}

p {
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 120%;

  @include md {
    font-size: calc(100vw/(393/14));

  }

  @include sm {
    font-size: 1.4rem;
  }
}

[data-gradient-text] {
  color: transparent;
  background: radial-gradient(circle at 50% 50%, #AD32AE 0%, #AD32AE 40%, #3C49C2 60%, #3C49C2 100%);
  background-size: 300% 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: idleGradient 3s linear infinite;
  cursor: default;
  transition: background-size 0.5s ease, background-position 0.5s ease;
  width: fit-content;
}

@keyframes idleGradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 150% 50%;
  }
}