@use './../mixins' as *;

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  width: 11.4rem;
  height: 11.4rem;
  border: 0.9rem solid var(--white);
  border-radius: 50%;
  background-color: var(--blue);
  transition: all 0.3s ease;

  position: absolute;
  top: -2.3rem;
  right: -2.3rem;
  z-index: 201;

  @include md {
    width: 13.4rem;
    height: 13.4rem;
    border-width: 1rem;

    top: -1.7rem;
    right: -3.4rem;
  }

  @include sm {
    width: 8rem;
    height: 8rem;
    gap: 0.7rem;
    border-width: 0.6rem;

    top: -1.6rem;
    right: -2rem;
  }

  &:hover {
    transform: scale(1.1);
  }

  &--open {
    width: 18.6rem;
    height: 18.6rem;
    border-width: 1.5rem;

    top: -5.8rem;
    right: -5.8rem;
  }
}

.burger-menu {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;

  .menu--open & {
    pointer-events: all;
  }

  &__inner {
    display: grid;
    grid-template-columns: 0rem 0rem;
    justify-content: flex-end;
    width: calc(100% - 24.5rem);
    height: 100%;
    background-color: var(--blue);

    clip-path: circle(0.0% at 100% 0);
    transition: clip-path 0.5s linear 0.3s, grid-template-columns 1s ease-in-out;
    will-change: clip-path;
    overflow: hidden;

    position: relative;
    z-index: 2;

    @include md {
      display: block;
      width: 100%;
      overflow-y: auto;
    }

    .menu--open & {
      grid-template-columns: calc(100% - 39rem) 39rem;
      clip-path: circle(150% at 100% 0);
      transition: clip-path 0.5s linear, grid-template-columns 1s ease-in-out;
    }
  }
}

.burger-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.59);
  backdrop-filter: blur(7.65px);

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  .menu--open & {
    opacity: 1;
    visibility: visible;
  }
}