@use './../mixins' as *;

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem 0;

  width: 8.4rem;
  height: 5rem;
  padding: 0;
  flex-shrink: 0;
  border-radius: 10rem;

  box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
  backdrop-filter: blur(6.35px);

  position: relative;

  cursor: pointer;

  @include md {
    width: 6.6rem;
    margin-left: auto;
  }

  &:hover,
  &.burger--open {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }

    .burger__line {
      background-color: var(--pink-2);
    }

    .border {

      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &::before {
    content: "";
    background: radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    border-radius: 10rem;
    opacity: 1;
    transition: opacity 0.5s ease;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }

  &::after {
    content: "";
    background: radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(173, 50, 174, 0.07) 100%);
    border-radius: 10rem;
    opacity: 0;
    transition: opacity 0.5s ease;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }

  .page__inner & {

    @include md {
      margin-left: 0;
    }
  }

  &__line {
    width: 4rem;
    height: 0.1rem;
    background: var(--purple);
    transition: all 0.5s ease;

    @include md {
      width: 2.6rem;
    }

    .burger--open & {
      width: 2.3rem;
      background-color: var(--pink-2);
    }

    &:nth-child(1) {

      .burger--open & {
        transform: rotate(45deg) translateY(0.25rem);
      }
    }

    &:nth-child(2) {

      .burger--open & {
        transform: rotate(-45deg) translateY(-0.25rem);
      }
    }
  }
}

.burger-menu {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;

  transition: all 1s ease;
  overflow: hidden;

  .menu--open & {
    pointer-events: all;

    @include md {
      overflow-y: auto;
    }
  }

  &__inner {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 0rem 0rem;
    width: 100%;
    height: 100%;
    transition: grid-template-columns 1s ease-in-out;

    @include md {
      display: flex;
      flex-direction: column;
      justify-content: unset;
      transition: all 0.5s ease;
      clip-path: inset(0 0 100% 0);
      height: fit-content;
      min-height: 100vh;

      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(25, 18, 39, 0.9), rgba(25, 18, 39, 0.9)), radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.03) 0%, rgba(80, 97, 255, 0.03) 100%);
      backdrop-filter: blur(1.855rem);
    }

    .menu--open & {
      grid-template-columns: 34.7% 65.3%;

      @include md {
        clip-path: inset(0 0 0 0);
        transition: all 1s ease;
      }
    }
  }
}