@use './../mixins' as *;

.blog {

  &-page {

    .directions {

      .general {

        &__head {
          margin-bottom: 4rem;

          @include md {
            margin-bottom: calc(-100vw/(393/4));
          }

          @include sm {
            max-width: 29rem;
          }
        }

        &__title {

          h2 {
            font-size: 5rem;

            @include md {
              font-size: calc(100vw/(393/30));
            }

            @include sm {
              font-size: 3rem;
            }
          }
        }
      }

      &__item {

        @include domd {
          height: 41.9rem;
          padding: 7rem 4rem 4rem 4rem;
        }

        &-title {

          @include domd {
            max-width: 32rem;

            font-size: 2.4rem;
            line-height: 120%;
          }

          br {

            @include md {
              display: none;
            }
          }
        }
      }
    }

    .decorations {

      &__item {

        &-content {

          p {

            @include md {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &-inner-page {}

  .general__head {
    margin-bottom: 2rem;

    @include md {
      margin-bottom: calc(100vw/(393/10));
    }

    @include sm {
      margin-bottom: 1rem;
    }
  }

  .decorations {

    &__item {
      --border-radius: 2.4rem;

      width: calc(33.33333% - (4rem / 3));
      height: auto;


      @include md {
        --border-radius: calc(100vw/(393/16));

        width: calc(50% - calc(100vw/(393/4)));
      }

      @include sm {
        --border-radius: 1.6rem;

        width: calc(50% - 0.4rem);
      }

      &-head {
        border-radius: var(--border-radius) var(--border-radius) 0 0;

        @include domd {
          height: 40.5rem;
        }

        .border {
          --border-radius: 2.4rem;

          @include md {
            --border-radius: calc(100vw/(393/16));
          }

          @include sm {
            --border-radius: 1.6rem;
          }

          &::before,
          &::after {
            border-radius: var(--border-radius) var(--border-radius) 0 0;
          }
        }
      }

      &-body {
        justify-content: flex-start;
        gap: 2rem;
        padding: 3rem 5.5rem 3rem 3rem;

        @include md {
          gap: calc(100vw/(393/10));
          padding: calc(100vw/(393/15)) calc(100vw/(393/10)) calc(100vw/(393/18));
        }

        @include sm {
          gap: 1rem;
          padding: 1.5rem 1rem 1.8rem;
        }
      }

      &-content {
        gap: 1.5rem;

        @include md {
          gap: calc(100vw/(393/10));
        }

        @include sm {
          gap: 1rem;
        }
      }

      &-date {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 100%;
        color: var(--purple-50);

        @include md {
          font-size: calc(100vw/(393/10));
        }

        @include sm {
          font-size: 1rem;
        }
      }

      &-time {
        margin-top: auto;

        font-weight: 400;
        font-size: 1.4rem;
        line-height: 120%;
        color: var(--purple-50);

        @include md {
          font-size: calc(100vw/(393/10));
        }

        @include sm {
          font-size: 1rem;
        }
      }

      &-title {
        max-width: 44rem;

        font-size: 1.6rem;

        @include md {
          font-size: calc(100vw/(393/10));
        }

        @include sm {
          font-size: 1rem;
        }
      }

      &-text {
        display: -moz-box;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        text-overflow: ellipsis;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;

        font-weight: 400;
        font-size: 1.4rem;
        line-height: 120%;

        @include md {
          font-size: calc(100vw/(393/10));

          -webkit-line-clamp: 4;
          line-clamp: 4;
        }

        @include sm {
          font-size: 1rem;
        }
      }
    }
  }

  .btn {
    gap: 1.6rem;

    @include md {
      padding: 0;
      width: fit-content;
      min-width: auto;
      height: fit-content;
      gap: 0;

      font-size: calc(100vw/(393/12));
      font-weight: 600;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }

    @include sm {
      font-size: 1.2rem;
    }

    &::before {

      @include md {
        display: none;
      }
    }

    &::after {

      @include md {
        display: none;
      }
    }

    .border {

      @include md {
        display: none;
      }
    }

    i {

      @include md {
        display: none;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    @include md {
      gap: calc(100vw/(393/8));
    }

    @include sm {
      gap: 0.8rem;
    }
  }
}