@use './../mixins' as *;

.catalog {

  .general__title {

    * {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 700;
      font-size: 5rem;
      line-height: 100%;

      @include md {
        font-size: calc(100vw/(393/24));
      }

      @include sm {
        font-size: 2.4rem;
      }
    }
  }

  .h6,
  h6 {

    @include md {
      font-size: calc(100vw/(393/16));
    }

    @include sm {
      font-size: 1.6rem;
    }
  }

  p {

    @include md {
      font-size: calc(100vw/(393/14));
    }

    @include sm {
      font-size: 1.4rem;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 3rem;

    @include md {
      display: none;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    @include md {
      gap: calc(100vw/(393/8));
    }

    @include sm {
      gap: 0.8rem;
    }
  }

  &__item {
    --border-radius: 5rem;

    display: flex;
    flex-direction: column;
    width: calc(25% - (6rem/4));
    min-height: 71.6rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;

    @include md {
      width: calc(50% - (100vw/(393/4)));
      // min-height: calc(100vw/(393/586));
      min-height: unset;
      aspect-ratio: unset;
    }

    @include sm {
      width: 100%;
      // min-height: 58.6rem;
    }

    &:hover {

      @include domd {

        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }

        .catalog__item-btn {
          width: calc(100% - (3rem * 2));

          &--text {
            opacity: 1;
            transition: all 0.5s ease, opacity 0.3s ease 0.2s;
          }
        }
      }
    }

    &-img {
      aspect-ratio: 1/1;
      flex-shrink: 0;
      border-radius: var(--border-radius);
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 3rem 3rem 8rem;
      height: 100%;

      @include md {
        gap: calc(100vw/(393/20));
        padding: calc(100vw/(393/30)) calc(100vw/(393/20)) calc(100vw/(393/33));
      }

      @include sm {
        gap: 2rem;
        padding: 3rem 2rem 3.3rem;
      }
    }

    &-title {
      color: var(--purple);

      @include md {
        font-size: calc(100vw/(393/16));
      }

      @include sm {
        font-size: 1.6rem;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      max-width: 20rem;

      @include md {
        gap: calc(100vw/(393/10));
      }

      @include sm {
        gap: 1rem;
      }
    }

    .btn {
      --btn-width: 8rem;
      --btn-height: 8rem;
      padding: 0;

      position: absolute;
      right: 3rem;
      bottom: 3rem;

      @include md {
        --btn-width: calc(100vw/(393/50));
        --btn-height: calc(100vw/(393/50));

        right: calc(100vw/(393/20));
        bottom: calc(100vw/(393/20));
      }

      @include sm {
        --btn-width: 5rem;
        --btn-height: 5rem;

        right: 2rem;
        bottom: 2rem;
      }
    }

    &-btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 8rem;
      height: 8rem;
      transition: all 0.5s ease;
      background: radial-gradient(38.3% 39.27% at 51.23% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
      box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
      backdrop-filter: blur(6.35px);
      border-radius: 10rem;
      padding: 0 0 0 4rem;

      position: absolute;
      right: 3rem;
      bottom: 3rem;


      @include md {
        width: calc(100vw/(393/50));
        height: calc(100vw/(393/50));
        background: none;
        box-shadow: none;
        backdrop-filter: unset;

        right: calc(100vw/(393/20));
        bottom: calc(100vw/(393/20));
      }

      @include sm {
        width: 5rem;
        height: 5rem;

        right: 2rem;
        bottom: 2rem;
      }

      &--text {
        width: 100%;
        opacity: 0;
        transition: all 0.5s ease, opacity 0.3s ease 0s;

        font-weight: 700;
        font-size: 1.4rem;
        line-height: 120%;
        color: var(--purple);
      }

      .btn {
        --btn-width: 8rem;
        --btn-height: 8rem;

        right: 0;
        bottom: 0;

        @include md {
          --btn-width: calc(100vw/(393/50));
          --btn-height: calc(100vw/(393/50));

          right: 0;
          bottom: 0;
        }

        @include sm {
          --btn-width: 5rem;
          --btn-height: 5rem;
        }
      }
    }
  }
}