@use './../mixins' as *;

.catalog {

  h6 {

    @include md {
      font-size: 2.4rem;
    }

    @include sm {
      font-size: 1.6rem;
    }
  }

  p {

    @include md {
      font-size: 1.6rem;
    }

    @include sm {
      font-size: 1.4rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    @include sm {
      gap: 0.8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(25% - (6rem/4));
    min-height: 71.6rem;
    border-radius: 5rem;
    overflow: hidden;
    position: relative;

    // aspect-ratio: 405/733;

    @include md {
      width: calc(50% - 1rem);
      min-height: 58.6rem;
      aspect-ratio: unset;
    }

    @include sm {
      width: 100%;
      border-radius: 2.4rem;
    }

    &:hover {

      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }

    &::before {
      content: "";
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.52% at 50% 50.32%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
      box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
      backdrop-filter: blur(6.35px);
      pointer-events: none;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity 0.5s ease;

      position: absolute;
      z-index: -1;
    }

    &::after {
      content: "";
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.58% at 50% 50.4%, rgba(228, 233, 255, 0.07) 0%, rgba(254, 154, 255, 0.07) 100%);
      box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
      backdrop-filter: blur(6.35px);
      pointer-events: none;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease;

      position: absolute;
      z-index: -1;
    }

    .border {
      --border-radius: 5rem;

      @include sm {
        --border-radius: 2.4rem;
      }
    }

    &-img {
      aspect-ratio: 1/1;
      flex-shrink: 0;
      border-radius: 5rem;
      overflow: hidden;
      position: relative;

      @include sm {
        border-radius: 2.4rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 3rem 3.7rem 8rem;
      height: 100%;

      @include md {
        gap: 2rem;
        padding: 3rem 2rem 3.3rem;
      }
    }

    &-title {
      color: var(--purple);

      h6 {

        @include sm {
          font-size: 2.4rem;
        }
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      max-width: 20rem;
    }

    .btn {
      --btn-width: 8rem;
      --btn-height: 8rem;
      padding: 0;

      position: absolute;
      right: 2.3rem;
      bottom: 3rem;

      @include md {
        --btn-width: 5rem;
        --btn-height: 5rem;

        right: 2rem;
        bottom: 2rem;
      }
    }
  }
}