@use './../mixins' as *;

.command {

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include md {
      flex-direction: column;
      gap: calc(100vw/(393/30));
    }

    @include sm {
      gap: 3rem;
    }
  }

  &__head {
    max-width: 65rem;
    margin-top: 3rem;
  }

  &__body {
    margin-top: -2rem;

    position: relative;

    @include md {
      margin: 0;
    }

    &-title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 22rem;
      line-height: 120%;
      text-align: right;

      position: absolute;
      right: -1rem;
      bottom: -2rem;

      @include md {
        font-size: calc(100vw/(393/76));

        right: unset;
        bottom: -0.5rem;
      }
    }
  }

  &__feat {

    &-items {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 4rem 9rem;

      @include md {
        grid-template-columns: 1fr 1fr;
        gap: calc(100vw/(393/20)) calc(100vw/(393/30));
      }

      @include sm {
        gap: 2rem 3rem;
      }
    }

    &-item {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      position: relative;

      @include md {
        gap: calc(100vw/(393/20));
      }

      @include sm {
        gap: 2rem;
      }

      &::before {
        content: "";
        display: block;
        width: 0.5rem;
        height: 100%;
        background: radial-gradient(42.06% 481.38% at 15.28% 29.16%, #AD32AE 0%, #3C49C2 100%);

        @include md {
          width: calc(100vw/(393/5));
        }

        @include sm {
          width: 0.5rem;
        }
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include md {
        gap: calc(100vw/(393/10));
      }

      @include sm {
        gap: 1rem;
      }

      .h4 {
        background: radial-gradient(42.06% 481.38% at 15.28% 29.16%, #AD32AE 0%, #3C49C2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        white-space: nowrap;
      }

      p {
        white-space: nowrap;
      }
    }
  }

  &__img {
    height: 60.8rem;

    @include md {
      width: 100%;
      height: auto;
    }

    img {
      max-width: unset;
      width: auto;
      height: 100%;
      object-fit: contain;

      @include md {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
  }
}