@use './../mixins' as *;

.directions {
  // --transformY: 0%;

  margin-bottom: 9rem;

  @include md {
    margin-bottom: 3rem;
  }

  .general__head {
    margin-bottom: -1.6rem;
    position: relative;
    z-index: 1;

    @include md {
      margin-bottom: -0.7rem;
      z-index: 3;
    }
  }

  .general__title {

    h2 {
      line-height: 120%;
    }

    span {

      &:last-child {
        display: block;
        margin-top: -3.6rem;

        @include md {
          margin-top: -1.2rem;
        }
      }
    }
  }
  
  &__body {
    position: relative;
    z-index: 2;
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    @include md {
      gap: 0.8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(25% - ((2rem * 3) / 4));
    min-height: 57.7rem;
    padding: 24rem 6rem 6rem 6rem;
    overflow: hidden;
    border-radius: 10rem;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);

    position: relative;

    @include md {
      width: calc(50% - 0.4rem);
      min-height: unset;
      height: auto;
      padding: 3rem 2rem 2rem;
      padding: calc(100vw/(393/30)) calc(100vw/(393/20)) calc(100vw/(393/20));
      aspect-ratio: 173/180;
      border-radius: calc(100vw/(393/25));
    }

    @include sm {
      border-radius: 2.5rem;
      padding: 3rem 2rem 2rem;
    }

    .border {

      @include md {
        --border-radius: calc(100vw/(393/25));
      }

      @include sm {
        --border-radius: 2.5rem;
      }
    }

    &:hover {
      color: var(--pink-2);

      .btn::before {
        opacity: 1;
      }

      img {
        transform: scale(1.4);
      }
    }

    &-title {
      transition: all 0.5s ease;
    }

    .btn {
      --btn-width: 7rem;
      --btn-height: 7rem;

      padding: 0;
      margin: 0 0 0 auto;

      @include md {
        --btn-width: calc(100vw/(393/40));
        --btn-height: calc(100vw/(393/40));
      }

      @include sm {
        --btn-width: 4rem;
        --btn-height: 4rem;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.54;
      transition: all 5s linear;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
}