@use './../mixins' as *;

.explanation {

  .general {

    &__title {
      grid-column: 2/3;
      grid-row: 2/3;

      @include md {
        order: 1;
      }
    }

    &__text {
      display: flex;
      flex-direction: row;
      gap: 2.3rem;

      grid-column: 2/3;
      grid-row: 3/4;

      @include md {
        order: 3;
      }

      span {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 20rem;
        line-height: 100%;

        @include md {
          font-size: 10rem;
        }
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 54.5rem calc(100% - 54.5rem - 4rem);
    align-items: center;
    gap: 2rem 4rem;

    @include md {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__cover {
    width: 54.5rem;
    height: 53.4rem;
    border-radius: 5rem;
    overflow: hidden;

    grid-column: 1/2;
    grid-row: 1/5;

    @include md {
      width: 100%;
      height: auto;
      border-radius: 2.4rem;

      order: 2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include md {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__text {
    max-width: 69.5rem;
    padding-top: 4.6rem;

    @include md {
      max-width: unset;
      padding-top: 1.2rem;
    }
  }
}