@use './../mixins' as *;

.faq {

  &__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 2.5rem 5rem 2.6rem;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    border-radius: 5rem;
    transition: all 0.5s ease;

    &.accordion-active {
      border-radius: 5rem;
      gap: 3rem;
    }

    &-head {}

    &-body {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
    }

    &-content {
      overflow: hidden;
    }
  }
}