@use './../mixins' as *;

.faq {
  margin-top: -23.6rem;

  .general__title {

    h2 {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 700;
      font-size: 5rem;
      line-height: 100%;

      @include md {
        font-size: calc(100vw/(393/24));
      }

      @include sm {
        font-size: 2.4rem;
      }
    }
  }

  .page__inner & {
    margin-top: 0;
  }

  @include md {
    margin-top: 0;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include md {
      gap: calc(100vw/(393/8));
    }

    @include sm {
      gap: 0.8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 2.5rem 5rem 2.6rem;

    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    transition: all 0.5s ease;
    overflow: hidden;
    border-radius: 5rem;

    position: relative;

    @include md {
      padding: calc(100vw/(393/17)) calc(100vw/(393/20)) calc(100vw/(393/19)) calc(100vw/(393/30));
      border-radius: var(--border-radius);
    }

    @include sm {
      padding: 1.7rem 2rem 1.9rem 3rem;
    }

    &:hover {

      @include domd {
        padding: 2.5rem 7rem 2.6rem;

        .border {

          &::before {
            opacity: 0;
          }

          &::after {
            opacity: 1;
          }
        }
      }
    }

    .border {
      --border-radius: 5rem;

      @include md {
        --border-radius: calc(100vw/(393/24));
      }

      @include sm {
        --border-radius: 2.4rem;
      }
    }

    &.accordion-active {
      padding: 2.5rem 5rem 4rem;

      @include domd {
        padding: 2.5rem 7rem 4rem;
      }

      @include md {
        padding: calc(100vw/(393/17)) calc(100vw/(393/20)) calc(100vw/(393/19)) calc(100vw/(393/30));
        border-radius: calc(100vw/(393/24));
      }

      @include sm {
        padding: 1.7rem 2rem 1.9rem 3rem;
        border-radius: 2.4rem;
      }

      .border {

        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 2rem;
      transition: all 0.5s ease;

      @include md {
        gap: 0 calc(100vw/(393/20));
      }

      @include sm {
        gap: 0 2rem;
      }

      .faq__item.accordion-active &,
      .faq__item:hover & {

        @include domd {
          color: var(--pink-2);
        }
      }

      .accordion-active & {
        color: var(--pink-2);
        margin-bottom: 3rem;

        @include md {
          margin-bottom: calc(100vw/(393/20));
        }

        @include sm {
          margin-bottom: 2rem;
        }
      }

      .btn {
        --btn-width: 2.7rem;
        --btn-height: 2.7rem;

        @include md {
          --btn-width: calc(100vw/(393/27));
          --btn-height: calc(100vw/(393/27));
        }

        @include sm {
          --btn-width: 2.7rem;
          --btn-height: 2.7rem;
        }

        i {

          .accordion-active & {
            transform: rotate(180deg);
          }
        }
      }
    }

    &-body {
      display: grid;
      grid-template-rows: 0fr;
      transition: all 0.5s ease;
      overflow: hidden;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 143.5rem;
      overflow: hidden;

      @include md {
        gap: calc(100vw/(393/20));
      }

      @include sm {
        gap: 2rem;
      }
    }
  }
}