@use './../mixins' as *;

.find-us {
  padding: 7rem 0 25rem;
  margin: 0;

  @include md {
    margin-bottom: 3rem;
    padding: 0;
  }

  .container {
    position: relative;
  }

  .general__title {
    max-width: 51.4rem;
  }

  &__map {
    position: absolute;
    top: -6.5rem;
    left: 0;
    z-index: -1;

    @include md {
      display: none;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__content {
    width: fit-content;
    padding: 5rem 3.6rem 8.7rem 5rem;
    border-radius: 5rem;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);

    @include md {
      width: 100%;
      padding: calc(100vw/(393/30));
      border-radius: calc(100vw/(393/24));
    }

    @include sm {
      width: 100%;
      padding: 3rem;
      border-radius: 2.4rem;
    }

    .border {
      --border-radius: 5rem;

      @include md {
        --border-radius: calc(100vw/(393/24));
      }

      @include sm {
        --border-radius: 2.4rem;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include md {
      gap: calc(100vw/(393/15));
    }

    @include sm {
      gap: 1.5rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    @include md {
      gap: calc(100vw/(393/10));
    }

    @include sm {
      gap: 1rem;
    }

    a:not(.btn) {
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 140%;

      @include md {
        font-size: calc(100vw/(393/16));
      }

      @include sm {
        font-size: 1.6rem;
      }

      &:hover {
        color: var(--pink);
      }
    }

    p {
      font-weight: 700;
    }

    h6 {
      font-weight: 400;

      br {

        @include md {
          display: none;
        }
      }
    }

    &-btn {
      display: none;

      @include md {
        display: flex;
      }

      .btn {
        justify-content: center;

        &--inner {
          height: fit-content;
          padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        }

        &--inner-icon {
          --btn-width: 2.7rem;
          --btn-height: 2.7rem;
        }

        i {
          font-size: 1.7rem;
        }
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    gap: 1.8rem;

    @include md {
      gap: calc(100vw/(393/10));
    }

    @include sm {
      gap: 1rem;
    }
  }

  &__mask {
    width: 157.9rem;
    height: 151.3rem;
    background-image: url(./../images/mask/mask-find-us.avif);
    background-repeat: no-repeat;
    background-size: 100%;

    position: absolute;
    top: -15.4rem;
    left: -67.1rem;
    z-index: -1;
  }
}