@use './../mixins' as *;

.hero {
  margin-bottom: 4.3rem;

  @include md {
    margin-bottom: calc(100vw/(393/30));
  }

  @include sm {
    margin-bottom: 3rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 8.5rem;

    @include md {
      gap: calc(100vw/(393/52));
    }

    @include sm {
      gap: 5.2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 88.7rem;
    margin: 0 auto;
    transform: translateX(10.2rem);

    @include md {
      align-items: flex-start;
      gap: calc(100vw/(393/28));
      max-width: calc(100vw/(393/219));
      margin: 0;
      transform: none;
      padding-top: calc(100vw/(393/30));
    }
  }

  &__logo {
    width: 78.7rem;
    height: 46.9rem;
    aspect-ratio: 787/469;
    will-change: filter;

    @include md {
      width: calc(100vw/(393/199));
      height: calc(100vw/(393/118));
      aspect-ratio: 199/118;
    }
  }

  &__text {
    color: var(--purple-50);
    will-change: filter;

    h6 {
      font-weight: 400;
    }
  }

  &__btn {
    display: none;

    @include md {
      display: flex;
      margin-top: calc(100vw/(393/22));
    }

    @include sm {
      margin-top: 0;
    }
  }

  &__cover {
    width: auto;
    height: 126.4rem;
    pointer-events: none;

    position: absolute;
    bottom: -21.5rem;
    left: -15rem;
    z-index: -1;

    @include md {
      height: calc(100vw/(393/1000));
      top: calc(-100vw/(393/100));
      bottom: unset;
      left: calc(100vw/(393/30));
    }

    @include sm {
      height: 100rem;
      top: -10rem;
      left: 3rem;
    }

    img {
      max-width: unset;
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  &__video {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  &__request {
    width: 100%;
    padding: 3rem 13.6rem 3.3rem 42.5rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    border-radius: var(--border-radius);

    @include md {
      padding: calc(100vw/(393/30)) calc(100vw/(393/30)) calc(100vw/(393/40)) calc(100vw/(393/30));
    }

    @include sm {
      padding: 4rem 3rem 3rem 3rem;
    }

    &-form {
      display: flex;
      flex-direction: column;

      @include md {
        gap: calc(100vw/(393/10));
      }

      @include sm {
        gap: 1rem;
      }
    }

    &-head {
      margin-left: 0.8rem;
      margin-bottom: 2rem;

      @include md {
        margin-bottom: calc(100vw/(393/20));
        margin-left: 0;
      }

      @include sm {
        margin-bottom: 2rem;
      }

      h6 {

        @include md {
          font-size: calc(100vw/(393/20));
        }

        @include sm {
          font-size: 2rem;
        }
      }
    }

    &-body {
      display: grid;
      grid-template-columns: 40.5rem 40.5rem 26.3rem;
      gap: 2rem;
      margin-bottom: 1rem;

      @include md {
        display: flex;
        flex-direction: column;
        gap: calc(100vw/(393/10));
      }

      @include sm {
        gap: 1rem;
      }
    }

    &-foot {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @include md {
        gap: calc(100vw/(393/5));
      }

      @include sm {
        gap: 0.5rem;
      }

      p {
        font-size: 1rem;
        color: var(--purple-50);

        @include md {
          font-size: calc(100vw/(393/10));
          line-height: 120%;
        }

        @include sm {
          font-size: 1rem;
        }
      }

      a {
        text-decoration: underline;

        &:hover {
          color: var(--pink);
        }
      }
    }

    .form {

      &-input {
        box-shadow: unset;
        backdrop-filter: unset;
      }

      &-wrap {
        margin-left: 0.8rem;

        @include md {
          margin-left: 0;
        }

        p {
          opacity: 0.5;
        }
      }
    }
  }

  &__mask {
    width: 127rem;
    height: 64.1rem;
    background-image: url(./../images/mask/mask-hero-text.svg);
    background-repeat: no-repeat;
    background-size: 100%;

    position: absolute;
    top: -0.5rem;
    right: 10.5rem;
    z-index: -1;

    @include md {
      display: block;
      width: calc(100vw/(393/379));
      height: calc(100vw/(393/191));

      top: 0;
      right: calc(-100vw/(393/6));
    }
  }
}