@use './../mixins' as *;

.hero {
  margin-bottom: 4.3rem;

  @include md {
    margin-bottom: 3rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 8.5rem;

    @include md {
      gap: 13.2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    // padding-top: 5rem;
    max-width: 88.7rem;
    margin: 0 auto;
    transform: translateX(10.2rem);

    @include md {
      align-items: flex-start;
      gap: 2.8rem;
      // max-width: 21.9rem;
      max-width: calc(100vw/(393/219));
      margin: 0;
      transform: none;
      padding-top: 5rem;
    }
  }

  &__logo {
    width: 78.7rem;
    height: 46.9rem;
    aspect-ratio: 787/469;

    @include md {
      // width: 19.9rem;
      width: calc(100vw/(393/199));
      // height: 11.8rem;
      height: calc(100vw/(393/118));
      aspect-ratio: 199/118;
    }
  }

  &__text {
    color: var(--purple-50);

    h6 {
      font-weight: 400;
    }
  }

  &__btn {
    display: none;

    @include md {
      display: flex;
      margin-top: 2.2rem;
    }
  }

  &__cover {
    width: auto;
    height: 115.4rem;
    pointer-events: none;

    position: absolute;
    // top: -13.5rem;
    bottom: -17.2rem;
    left: 0;
    z-index: 2;

    @include md {
      // height: 83.6rem;
      height: calc(100vw/(393/836));

      // top: 2.1rem;
      top: calc(100vw/(393/21));
      // right: -25.8rem;
      right: calc(-100vw/(393/258));
      left: unset;
      z-index: -1;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  &__request {
    width: 100%;
    padding: 3rem 13.6rem 3.3rem 42.5rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    border-radius: 10rem;

    @include md {
      padding: 3rem 3rem 4rem 3rem;
      border-radius: 5rem;
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: 1rem;
      }
    }

    &-head {
      margin-left: 0.8rem;

      @include md {
        margin-bottom: 2rem;
        margin-left: 0;
      }

      h6 {

        @include md {
          font-size: 2rem;
        }
      }
    }

    &-body {
      display: grid;
      grid-template-columns: 40.5rem 40.5rem 26.3rem;
      gap: 2rem;

      @include md {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    .form {

      &-input {
        box-shadow: unset;
        backdrop-filter: unset;
      }

      &-wrap {
        margin-left: 0.8rem;

        @include md {
          margin-left: 0;
        }

        p {
          opacity: 0.5;

          @include md {
            font-size: 1rem;
            line-height: 120%;
          }
        }
      }
    }
  }
}