@use './../mixins' as *;

.opinion {
  margin: 0;

  @include md {
    margin-bottom: 3rem;
  }

  .general__head {
    margin-bottom: -0.2rem;

    @include md {
      margin-bottom: calc(100vw/(393/20));
    }

    @include sm {
      margin-bottom: 2rem;
    }
  }

  .general__title {
    max-width: 51rem;

    h2 {
      font-family: var(--second-family);
      font-style: normal;
      font-weight: 700;
      font-size: 5rem;
      line-height: 80%;

      @include md {
        font-size: calc(100vw/(393/24));
      }

      @include sm {
        font-size: 2.4rem;
      }
    }

    .page__main &,
    .about-page & {

      h2 {
        font-family: var(--second-family);
        font-style: normal;
        font-weight: 700;
        font-size: 12rem;
        line-height: 100%;

        @include md {
          font-size: calc(100vw/(393/30));
        }

        @include sm {
          font-size: 3rem;
        }
      }
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 3rem;

    @include md {
      display: none;
    }
  }

  &__slider {
    border-radius: var(--border-radius);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    min-height: 47.3rem;
    padding: 5rem 3rem 5rem 5rem;
    border-radius: var(--border-radius);
    position: relative;

    @include md {
      gap: calc(100vw/(393/20));
      min-height: auto;
      padding: calc(100vw/(393/30));
    }

    @include sm {
      gap: 2rem;
      padding: 3rem;
    }

    &>.border {
      border-radius: var(--border-radius);
    }

    &-head {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3rem;

      @include md {
        gap: calc(100vw/(393/15));
      }

      @include sm {
        gap: 1.5rem;
      }

      span {
        line-height: 120%;
      }

      p {
        color: var(--blue-dark-2);

        @include md {
          font-size: calc(100vw/(393/12));
        }

        @include sm {
          font-size: 1.2rem;
        }
      }
    }

    &-photo {
      width: 9.5rem;
      height: 9.5rem;
      flex-shrink: 0;

      position: relative;

      @include md {
        width: calc(100vw/(393/40));
        height: calc(100vw/(393/40));
      }

      @include sm {
        width: 4rem;
        height: 4rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
      }

      i {
        font-size: 2.4rem;

        position: absolute;
        top: 0;
        right: 0;

        @include md {
          font-size: calc(100vw/(393/10));
        }

        @include sm {
          font-size: 1rem;
        }
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }

    &-body {
      height: 100%;
    }

    .btn--inner {
      margin-top: auto;

      @include md {
        font-size: calc(100vw/(393/12));
        height: fit-content;
        padding: calc(100vw/(393/5)) calc(100vw/(393/5)) calc(100vw/(393/5)) calc(100vw/(393/15));
        gap: calc(100vw/(393/10));
      }

      @include sm {
        font-size: 1.2rem;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        gap: 1rem;
      }

      i {

        @include md {
          font-size: calc(100vw/(393/27));
        }

        @include sm {
          font-size: 2.7rem;
        }
      }
    }
  }
}