@use './../mixins' as *;

.quiz {

  &__inner {
    padding: 6rem 14rem 5rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.64% at 50% 50.47%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    border-radius: 10rem;

    @include md {
      padding: calc(100vw/(393/30)) calc(100vw/(393/57)) calc(100vw/(393/36)) calc(100vw/(393/20));
      border-radius: calc(100vw/(393/24));
    }

    @include sm {
      padding: 3rem 5.7rem 3.6rem 2rem;
      border-radius: 2.4rem;
    }

    &>.border {

      @include md {
        --border-radius: calc(100vw/(393/24));
      }

      @include sm {
        --border-radius: 2.4rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 3rem;

    @include md {
      margin-bottom: calc(100vw/(393/20));
    }

    @include sm {
      margin-bottom: 2rem;
    }

    @include sm {

      * {
        font-size: 2.4rem;
      }
    }
  }

  &__text {
    margin-bottom: 4rem;

    @include md {
      margin-bottom: calc(100vw/(393/28));
    }

    @include sm {
      margin-bottom: 2.8rem;
    }
  }
}