@use './../mixins' as *;

.stages {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include sm {
      gap: 0.8rem;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @include sm {
      grid-template-columns: repeat(1, 1fr);
      gap: 0.8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4.4rem 5rem 4.4rem 8.9rem;
    border-radius: 10rem;
    overflow: hidden;
    position: relative;

    @include sm {
      padding: 1.5rem 1.5rem 1.5rem 2rem;
      border-radius: 7.4rem;
    }

    .border {
      --border-radius: 10rem;

      @include sm {
        --border-radius: 7.4rem;
      }
    }

    &-count {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 10rem;
      line-height: 100%;
      background: radial-gradient(91.79% 857.38% at -20.26% -63.28%, #AD32AE 0%, #3C49C2 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @include sm {
        font-size: 5rem;
      }
    }

    &-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;

      @include sm {
        gap: 2rem;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include sm {
        gap: 1rem;
      }
    }

    &-icon {
      width: 12rem;
      height: 12rem;

      @include sm {
        width: 5rem;
        height: 5rem;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .hero__request {
    padding: 3rem 3rem 3rem 8.6rem;

    @include sm {
      padding: 3rem 3rem 2rem 3rem;
      border-radius: 2.4rem;
    }

    .border {

      @include sm {
        --border-radius: 2.4rem;
      }
    }

    &-head {
      margin-bottom: 3rem;
    }

    &-body {
      grid-template-columns: 40.5rem 40.5rem 31.5rem;
      margin-bottom: 1rem;
    }
  }
}