@use './../mixins' as *;

.works {

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 5rem;

    @include md {
      display: none;
    }
  }

  &__body {}

  &__slider {

    @include md {
      display: none;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    @include domd {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 57.5rem;
    padding: 5rem 5rem 6rem 5rem;
    background: linear-gradient(90deg, rgba(12, 15, 27, 0.95) 0%, rgba(13, 15, 27, 0) 100%);
    border-radius: 10rem;
    overflow: hidden;

    position: relative;

    @include md {
      min-height: unset;
      padding: calc(100vw/(393/30));
      border-radius: calc(100vw/(393/24));

      aspect-ratio: 353/371;
    }

    @include sm {
      padding: 3rem;
      border-radius: 2.4rem;
    }

    &:hover {


      .btn i {
        transform: translateX(0.5rem);
      }
    }

    .border {

      @include md {
        --border-radius: calc(100vw/(393/24));
      }

      @include sm {
        --border-radius: 2.4rem;
      }
    }

    .btn {
      --btn-width: 8rem;
      --btn-height: 8rem;

      position: absolute;
      bottom: 6rem;
      left: 4.5rem;
      padding: 0;

      @include md {
        --btn-width: calc(100vw/(393/50));
        --btn-height: calc(100vw/(393/50));

        margin-left: calc(100vw/(393/10));
      }

      @include sm {
        --btn-width: 5rem;
        --btn-height: 5rem;

        margin-left: 1rem;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
    }

    &-img {

      &::before {
        content: "";
        background: linear-gradient(90deg, rgba(12, 15, 27, 0.95) 0%, rgba(13, 15, 27, 0) 100%);
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include md {
      max-width: calc(100vw/(393/200));
      gap: calc(100vw/(393/20));
    }

    @include sm {
      max-width: 20rem;
      gap: 2rem;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 20rem;
      color: var(--blue);

      @include md {
        gap: 1rem;
      }
    }

    h5 {

      @include md {
        font-size: calc(100vw/(393/24));
      }

      @include sm {
        font-size: 2.4rem;
      }
    }

    h6 {

      @include md {
        font-size: calc(100vw/(393/16));
      }

      @include sm {
        font-size: 1.6rem;
      }
    }
  }
}