@font-face {
  font-family: 'PirsibIconFont';
  src:  url('fonts/PirsibIconFont.eot?9wghx3');
  src:  url('fonts/PirsibIconFont.eot?9wghx3#iefix') format('embedded-opentype'),
    url('fonts/PirsibIconFont.ttf?9wghx3') format('truetype'),
    url('fonts/PirsibIconFont.woff?9wghx3') format('woff'),
    url('fonts/PirsibIconFont.svg?9wghx3#PirsibIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'PirsibIconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-2gis:before {
  content: "\e900";
}
.icon-book:before {
  content: "\e901";
}
.icon-chevron:before {
  content: "\e902";
}
.icon-chevron-min:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e905";
}
.icon-mail-min:before {
  content: "\e906";
}
.icon-max:before {
  content: "\e907";
}
.icon-ozon:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-phone-min:before {
  content: "\e90a";
}
.icon-play:before {
  content: "\e90b";
}
.icon-telegram:before {
  content: "\e90c";
}
.icon-telegram-hover:before {
  content: "\e90d";
}
.icon-user:before {
  content: "\e90e";
}
.icon-vk:before {
  content: "\e90f";
}
.icon-wb:before {
  content: "\e910";
}
.icon-whatsapp:before {
  content: "\e911";
}
.icon-whatsapp-hover:before {
  content: "\e912";
}
