@use './../mixins' as *;

.product {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10.8rem;
    padding: 10rem 13.2rem 11.2rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.52% at 50% 50.32%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    border-radius: 10rem;
    overflow: hidden;
    position: relative;

    @include md {
      gap: 5.4rem;
      padding: calc(100vw/(393/50)) calc(100vw/(393/20));
      border-radius: 2.4rem;
      overflow: hidden;
    }

    @include sm {
      padding: 30rem 2rem 13.4rem 2rem;
    }

    .border {

      @include md {
        --border-radius: 2.4rem;
      }
    }

    .general {

      &__head {
        display: flex;
        flex-direction: column;
        gap: 5.2rem;
        margin-bottom: 0;
        max-width: 78.2rem;

        @include md {
          gap: 2.3rem;
        }
      }

      &__title {
        max-width: none;
        overflow: visible;

        h2 {
          padding-bottom: 1rem;

          @include sm {
            font-size: 5rem;
          }
        }
      }

      &__text {
        max-width: 46.2rem;
        opacity: 0.5;
        margin-left: 1rem;

        h6 {
          font-family: var(--font-family);
          font-weight: 400;
          line-height: 120%;
        }
      }
    }

    .btn {
      --btn-width: 8rem;
      --btn-height: 8rem;

      padding: 0;
      transform: rotate(90deg);

      @include md {
        --btn-width: 5rem;
        --btn-height: 5rem;
      }
    }
  }

  &__bg {
    pointer-events: none;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.decorations {

  .general__title {

    h4 {

      @include sm {
        font-size: 3rem;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    @include md {
      flex-direction: column;
    }

    @include sm {
      gap: 0.8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(25% - (6rem/4));
    border-radius: 5rem;
    overflow: hidden;

    position: relative;

    @include md {
      width: 100%;
    }

    .border {
      --border-radius: 5rem;
    }

    &-head {
      flex-shrink: 0;
      aspect-ratio: 1/1;
      border-radius: 5rem;
      overflow: hidden;
      position: relative;
    }

    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3rem;
      padding: 3rem;
      height: 100%;

      @include md {
        gap: calc(100vw/(393/24));
        padding: calc(100vw/(393/30)) calc(100vw/(393/20)) calc(100vw/(393/20)) calc(100vw/(393/20));
      }

      @include sm {
        gap: 2.4rem;
        padding: 3rem 2rem 2rem 2rem;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: calc(100vw/(393/20));
      }

      @include sm {
        gap: 2rem;
      }

      h6 {
        font-family: var(--font-family);
        line-height: 90%;
      }

      p {
        opacity: 0.5;
      }
    }

    &-btns {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}

.cosmetics {

  .general__title {

    h4 {

      @include sm {
        font-size: 3rem;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    @include md {
      flex-direction: column;
      gap: 0.8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(25% - (6rem/4));
    border-radius: 5rem;
    overflow: hidden;

    position: relative;

    @include md {
      width: 100%;
    }

    &:hover {

      .border {

        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }
    }

    .border {
      --border-radius: 5rem;
    }

    &-head {
      flex-shrink: 0;
      aspect-ratio: 1/1;
      border-radius: 5rem;
      overflow: hidden;
      position: relative;
    }

    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3rem;
      padding: 3rem;
      height: 100%;

      @include md {
        gap: calc(100vw/(393/24));
        padding: calc(100vw/(393/30)) calc(100vw/(393/20)) calc(100vw/(393/20)) calc(100vw/(393/20));
      }

      @include sm {
        gap: 2.4rem;
        padding: 3rem 2rem 2rem 2rem;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      p {
        opacity: 0.5;
      }
    }

    &-btns {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}