@use './../mixins' as *;

.decorations {

  .general__title {

    h2 {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 700;
      font-size: 5rem;
      line-height: 100%;
      line-height: 120%;

      @include md {
        font-size: calc(100vw/(393/30));
      }

      @include sm {
        font-size: 3rem;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    @include md {
      flex-direction: column;
      gap: calc(100vw/(393/8));
    }

    @include sm {
      gap: 0.8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(25% - (6rem/4));
    border-radius: var(--border-radius);
    overflow: hidden;

    position: relative;

    @include md {
      width: 100%;
    }

    .decorations__slide & {
      width: 100%;
      height: 100%;
    }

    .catalog-page & {
      height: fit-content;
    }

    &--piercing {
      --border-radius: 2.5rem;

      @include md {
        --border-radius: calc(100vw/(393/25));
      }

      @include sm {
        --border-radius: 2.5rem;
      }

      .decorations__item {

        &-head {
          display: flex;
          justify-content: flex-start;
          aspect-ratio: unset;
          padding: 2rem 2rem 0 2rem;
          box-shadow: none;
          background: none;
          backdrop-filter: unset;

          @include md {
            padding: calc(100vw/(393/20)) calc(100vw/(393/20)) 0 calc(100vw/(393/20));
          }

          @include sm {
            padding: 2rem 2rem 0 2rem;
          }
        }

        &-img {
          height: 10.4rem;

          @include md {
            height: calc(100vw/(393/104));
          }

          @include sm {
            height: 10.4rem;
          }

          img {
            width: auto;
            height: 100%;
            object-fit: contain;
          }
        }

        &-body {
          padding: 3rem 3rem 4rem 3rem;

          @include md {
            padding: calc(100vw/(393/30)) calc(100vw/(393/30)) calc(100vw/(393/40)) calc(100vw/(393/30));
          }

          @include sm {
            padding: 3rem 3rem 4rem 3rem;
          }
        }

        &-content {
          display: flex;
          flex-direction: column;
          gap: 2.5rem;

          @include md {
            gap: calc(100vw/(393/25));
          }

          @include sm {
            gap: 2.5rem;
          }
        }

        &-title {
          font-weight: 700;
          font-size: 2.5rem;
          line-height: 120%;
          text-transform: uppercase;

          @include md {
            font-size: calc(100vw/(393/25));
          }

          @include sm {
            font-size: 2.5rem;
          }

          &:hover {
            color: var(--pink);
          }
        }

        &-list {

          li {
            margin-bottom: 1.5rem;

            @include md {
              margin-bottom: calc(100vw/(393/15));
            }

            @include sm {
              margin-bottom: 1.5rem;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }

          a {
            color: var(--blue);

            &:hover {
              color: var(--pink);
            }
          }
        }
      }
    }

    &-head {
      flex-shrink: 0;
      aspect-ratio: 1/1;
      border-radius: var(--border-radius);
      overflow: hidden;

      position: relative;

      img {
        width: 100%;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3rem;
      padding: 3rem;
      height: 100%;

      @include md {
        gap: calc(100vw/(393/24));
        padding: calc(100vw/(393/30)) calc(100vw/(393/20)) calc(100vw/(393/20)) calc(100vw/(393/20));
      }

      @include sm {
        gap: 2.4rem;
        padding: 3rem 2rem 2rem 2rem;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: calc(100vw/(393/20));
      }

      @include sm {
        gap: 2rem;
      }

      &-title {
        font-family: var(--font-family);
        line-height: 90%;
      }
    }

    &-btns {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      @include md {
        gap: calc(100vw/(393/10));
      }

      @include sm {
        gap: 1rem;
      }
    }
  }
}