@use './../mixins' as *;

.decorations {

  .general__title {

    h2 {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 700;
      font-size: 5rem;
      line-height: 100%;
      line-height: 120%;

      @include md {
        font-size: calc(100vw/(393/30));
      }

      @include sm {
        font-size: 3rem;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    @include md {
      flex-direction: column;
      gap: calc(100vw/(393/8));
    }

    @include sm {
      gap: 0.8rem;
    }
  }

  &__item {
    --border-radius: 5rem;

    display: flex;
    flex-direction: column;
    width: calc(25% - (6rem/4));
    border-radius: var(--border-radius);
    overflow: hidden;

    position: relative;

    @include md {
      --border-radius: calc(100vw/(393/24));

      width: 100%;
    }

    &--piercing {

      .decorations__item-head {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 3.2rem;

        @include md {
          padding: 0 calc(100vw/(393/20));
        }

        @include sm {
          padding: 0 2rem;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    &-head {
      flex-shrink: 0;
      aspect-ratio: 1/1;
      border-radius: var(--border-radius);
      overflow: hidden;

      position: relative;
    }

    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3rem;
      padding: 3rem;
      height: 100%;

      @include md {
        gap: calc(100vw/(393/24));
        padding: calc(100vw/(393/30)) calc(100vw/(393/20)) calc(100vw/(393/20)) calc(100vw/(393/20));
      }

      @include sm {
        gap: 2.4rem;
        padding: 3rem 2rem 2rem 2rem;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: calc(100vw/(393/20));
      }

      @include sm {
        gap: 2rem;
      }

      &-title {
        font-family: var(--font-family);
        line-height: 90%;
      }
    }

    &-btns {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      @include md {
        gap: calc(100vw/(393/10));
      }

      @include sm {
        gap: 1rem;
      }
    }
  }
}