@use './../mixins' as *;

.page__inner {

  .find-us {
    padding: 0 0 30rem;

    @include md {
      padding: 0;
    }

    &__inner {
      position: relative;
    }

    &__map {
      width: calc(100% + (var(--container-padding)*2));
      margin-left: calc(var(--container-padding) * -1);
      position: absolute;
      top: -20.9rem;
    }

    .mask {

      &.mask--1 {
        background-image: url(./../../images/mask/mask-1-reverse.avif);
        right: unset;
        left: -71.6rem;
      }
    }
  }
}