@use './../mixins' as *;

.masters {

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;

    @include md {
      margin-bottom: calc(100vw/(393/30));
    }

    @include sm {
      gap: 0.8rem;
      margin-bottom: 3rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(25% - 1.5rem);
    border-radius: 5rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.52% at 50% 50.32%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);

    position: relative;

    @include md {
      width: calc(50% - 1rem);
      border-radius: 2.4rem;
    }

    @include sm {
      width: 100%;
    }

    .border {
      --border-radius: 5rem;

      @include md {
        --border-radius: 2.4rem;
      }
    }

    &-head {
      border-radius: 5rem;
      box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
      backdrop-filter: blur(6.35px);
      aspect-ratio: 1/1;

      position: relative;
      z-index: 1;

      @include md {
        border-radius: 2.4rem;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 3rem 3rem 10rem;

      @include md {
        gap: 2rem;
        padding: 3rem 2rem 5rem 2rem;
      }

      .btn {
        --btn-width: 8rem;
        --btn-height: 8rem;

        padding: 0;
        position: absolute;
        right: 3rem;
        bottom: 3rem;

        @include md {
          --btn-width: 5rem;
          --btn-height: 5rem;

          right: 2rem;
          bottom: 2rem;
        }
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: var(--blue);
    }
  }
}