@use './../mixins' as *;

.masters {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__content {
    padding: 10rem 13.2rem 11.2rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.52% at 50% 50.32%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    border-radius: 10rem;
    position: relative;

    @include md {
      padding: 3rem 2rem 0;
      border-radius: 2.4rem;
      overflow: hidden;
    }

    &.border {

      @include md {

        &::before,
        &::after {
          border-radius: 2.4rem;
        }
      }
    }

    .general {

      &__head {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-bottom: 0;
        max-width: 55.6rem;

        @include md {
          gap: 0;
        }

        .btn {
          --btn-width: 8rem;
          --btn-height: 8rem;

          padding: 0;
          transform: rotate(90deg);

          @include md {
            --btn-width: 5rem;
            --btn-height: 5rem;
          }
        }
      }

      &__title {

        @include md {
          margin-bottom: 2.3rem;
        }
      }

      &__text {
        max-width: 46.2rem;

        @include md {
          margin-bottom: 4rem;
        }
      }
    }
  }

  &__cover {
    width: 53.2rem;

    position: absolute;
    bottom: 0;
    right: 20.2rem;
    z-index: 1;

    @include md {
      width: 29rem;
      margin-top: -5.1rem;

      position: relative;
      right: -0.7rem;
      margin-left: auto;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    @include sm {
      gap: 0.8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(25% - 1.5rem);
    border-radius: 5rem;
    position: relative;

    @include md {
      width: calc(50% - 1rem);
      border-radius: 2.4rem;
    }

    @include sm {
      width: 100%;
    }

    .border {
      --border-radius: 5rem;

      @include md {
        --border-radius: 2.4rem;
      }
    }

    &-head {
      position: relative;
    }

    &-body {
      padding: 3rem 3rem 10rem;

      @include md {
        padding: 3rem 2rem 5rem 2rem;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      @include md {
        gap: 2rem;
      }

      .btn {
        --btn-width: 8rem;
        --btn-height: 8rem;

        padding: 0;
        position: absolute;
        right: 3rem;
        bottom: 3rem;

        @include md {
          --btn-width: 5rem;
          --btn-height: 5rem;

          right: 2rem;
          bottom: 2rem;
        }
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: var(--blue);
    }
  }
}