@use './../mixins' as *;

.notfound {
  padding: 8rem 0 17rem;

  @include md {
    // margin-top: -11rem;
    padding: 0;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;

    @include md {
      flex-direction: column-reverse;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    z-index: 1;

    .btn {
      --btn-width: 100%;
      --btn-height: 8rem;

      max-width: 34.4rem;
      padding: 0 0 0 4rem;
      font-weight: 700;
      text-transform: unset;

      i {
        position: relative;
      }
    }
  }

  &__suptitle {
    margin-bottom: 2rem;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20rem;
    line-height: 100%;
    text-transform: uppercase;

    @include md {
      margin-bottom: calc(100vw/(393/10));

      font-size: calc(100vw/(393/70));
    }

    @include sm {
      margin-bottom: 1rem;

      font-size: 7rem;
    }
  }

  &__title {
    margin-bottom: 7rem;
    max-width: 90rem;

    @include md {
      margin-bottom: calc(100vw/(393/30));
    }

    @include sm {
      margin-bottom: 3rem;
    }

    * {
      font-weight: 400;

      @include md {
        font-size: calc(100vw/(393/30));
      }

      @include sm {
        font-size: 3rem;
      }
    }

    br {

      @include md {
        display: none;
      }
    }
  }

  &__video {
    width: 69.5rem;
    height: 120.6rem;
    pointer-events: none;

    position: absolute;
    top: -29.7rem;
    right: 0;

    @include md {
      width: 100%;
      height: auto;
      margin-bottom: calc(-100vw/(393/120));

      position: relative;
      top: 0;
    }

    @include sm {
      margin-bottom: -12rem;
    }
  }
}

.page__notfound {

  body {
    // background: #0C0F1B;
    background: #090d19;
  }

  @include md {
    padding-top: 0;
  }
}