@use './../mixins' as *;

.cookie {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 1rem;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  will-change: top;
  pointer-events: none;

  transition: right 0.5s linear;
  transition-delay: 0.3s;

  position: fixed;
  top: 0;
  right: -100%;
  z-index: 301;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 38.1rem;
    width: 100%;
    height: fit-content;
    padding: 2rem;
    margin-right: 6rem;
    margin-bottom: 7rem;
    pointer-events: all;
    border-radius: 3rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);

    @include md {
      max-width: 100%;
      margin-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      inset: 0;
      border-radius: 3rem;
      padding: 0.1rem;
      background:
        linear-gradient(135deg, var(--border-blue) -23%, var(--border-dark-blue-21) 25%) border-box,
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) border-box;
      -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    .border {
      --border-radius: 3rem;
    }

    .btn {
      text-transform: capitalize;
    }
  }
}