@use './../mixins' as *;

.footer {

  &__inner {
    display: grid;
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    gap: 2rem;
    margin-bottom: 4rem;
    border-radius: var(--border-radius);

    z-index: 1;

    @include md {
      display: flex;
      flex-direction: column-reverse;
      gap: calc(100vw/(393/20));
      margin-bottom: calc(100vw/(393/80));
    }

    @include sm {
      gap: 2rem;
      margin-bottom: 8rem;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 1fr;
    gap: 4rem 5rem;
    padding: 4rem 6rem 6rem 6rem;

    @include md {
      display: flex;
      flex-direction: column;
      gap: calc(100vw/(393/20));
      padding: 0 calc(100vw/(393/30)) calc(100vw/(393/40)) calc(100vw/(393/30));
    }

    @include sm {
      gap: 2rem;
      padding: 0 3rem 4rem 3rem;
    }

    h6 {
      font-weight: 400;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    grid-column: 1/4;
    grid-row: 1/2;

    @include md {
      gap: calc(100vw/(393/10));
    }

    @include sm {
      gap: 1rem;
    }

    &-links {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include md {
        gap: calc(100vw/(393/10));
      }

      @include sm {
        gap: 1rem;
      }
    }

    &-link {
      font-weight: 700;
      font-size: 4.5rem;
      line-height: 100%;
      text-transform: uppercase;
      white-space: nowrap;

      @include md {
        font-size: calc(100vw/(393/34));
      }

      @include sm {
        font-size: 3.4rem;
      }

      @include xxs {
        font-size: 3rem;
      }
    }

    &-address {
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 140%;

      @include md {
        font-size: calc(100vw/(393/14));
      }

      @include sm {
        font-size: 1.4rem;
      }
    }
  }

  &__menu {
    grid-column: 1/2;
    grid-row: 2/3;

    ul {
      width: 100%;

      @include md {
        display: inline-block;
        column-count: 2;
      }
    }

    li {
      margin-bottom: 2rem;

      @include md {
        margin-bottom: calc(100vw/(393/15));
      }

      @include sm {
        margin-bottom: 1.5rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      padding: 1rem 0;

      font-size: 1.4rem;
      color: var(--blue-dark-2);

      @include md {
        padding: calc(100vw/(393/10)) 0;

        font-size: calc(100vw/(393/14));
      }

      @include sm {
        padding: 1rem 0;

        font-size: 1.4rem;
      }


      &.is-active {
        font-weight: 700;
        color: var(--purple);
      }

      &:hover {
        color: var(--purple);
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    grid-column: 2/3;
    grid-row: 2/3;

    @include md {
      gap: calc(100vw/(393/20));
    }

    @include sm {
      gap: 2rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include md {
      gap: calc(100vw/(393/15));
    }

    @include sm {
      gap: 1.5rem;
    }

    &--channel {

      @include md {
        margin-top: calc(-100vw/(393/10));
      }

      @include sm {
        margin-top: -1rem;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 140%;

      @include md {
        font-size: calc(100vw/(393/14));
      }

      @include sm {
        font-size: 1.4rem;
      }

      .footer__item--channel &,
      .footer__item--groups & {

        @include md {
          display: none;
        }
      }
    }

    &-btns {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include md {
        gap: calc(100vw/(393/10));
      }

      @include sm {
        gap: 1rem;
      }
    }

    &-social {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      @include md {
        gap: calc(100vw/(393/10));
      }

      @include sm {
        gap: 1rem;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    grid-column: 3/4;
    grid-row: 2/3;

    @include md {
      display: none;
      gap: calc(100vw/(393/15));
    }

    @include sm {
      gap: 1.5rem;
    }

    a {
      font-size: 1.2rem;
      color: var(--blue-dark-2);

      @include md {
        font-size: calc(100vw/(393/12));
      }

      @include sm {
        font-size: 1.2rem;
      }

      &:hover {
        color: var(--purple);
      }
    }
  }

  &__foot {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100%;
    color: var(--blue-dark-2);
    white-space: nowrap;

    grid-column: 1/4;
    grid-row: 3/4;

    @include md {
      gap: calc(100vw/(393/7));
      margin-top: calc(-100vw/(393/5));

      font-size: calc(100vw/(393/14));
    }

    @include sm {
      gap: 0.7rem;
      margin-top: -0.5rem;

      font-size: 1.4rem;
    }

    a {

      &:hover {
        color: var(--purple);
      }
    }
  }

  &__form {
    padding: 12.2rem 14rem 7.5rem;
    border-radius: var(--border-radius);

    @include md {
      padding: calc(100vw/(393/20)) calc(100vw/(393/30));
    }

    @include sm {
      padding: 2rem 3rem;
    }

    .form {

      @include md {
        gap: calc(100vw/(393/15));
      }

      @include sm {
        gap: 1.5rem;
      }

      &__head {

        @include md {
          gap: calc(100vw/(393/10));
        }

        @include sm {
          gap: 1rem;
        }
      }

      &-wrap {

        @include md {
          margin-left: 0;
        }
      }
    }
  }
}