@use './../mixins' as *;

.footer {

  &__inner {
    --border-w: 0.1rem;

    display: grid;
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    gap: 2rem;
    margin-bottom: 4rem;
    border-radius: 10rem;

    position: relative;
    z-index: 1;

    @include md {
      display: flex;
      flex-direction: column-reverse;
      gap: 3rem;

      border-radius: calc(100vw/(393/50));
    }

    @include sm {
      border-radius: 5rem;
      margin-bottom: 8rem;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      inset: 0;
      border-radius: 10rem;
      padding: 0.1rem;
      background:
        linear-gradient(135deg, var(--border-blue) -23%, var(--border-dark-blue-21) 25%) border-box,
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) border-box;
      -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.5s ease;

      @include md {
        border-radius: calc(100vw/(393/50));
      }

      @include sm {
        border-radius: 5rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem 7.2rem;
    padding: 6rem 0 3.7rem 5rem;

    @include md {
      gap: calc(100vw/(393/30));
      padding: 0 calc(100vw/(393/30)) calc(100vw/(393/40)) calc(100vw/(393/30));
    }

    @include sm {
      gap: 3rem;
      padding: 0 3rem 4rem 3rem;
    }

    h6 {
      font-weight: 400;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a {
      font-weight: 700;
      font-size: 8rem;
      line-height: 100%;
      text-transform: uppercase;
      background-image: radial-gradient(42.06% 481.38% at 15.28% 29.16%, #AD32AE 0%, #3C49C2 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-box-decoration-break: clone;
      text-fill-color: transparent;

      @include md {
        font-size: calc(100vw/(393/34));
      }

      @include sm {
        font-size: 3.4rem;
      }
    }
  }

  &__menu {
    width: 15rem;

    @include md {
      width: 100%;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        display: inline-block;
        column-count: 2;
        width: 100%;
      }
    }

    li {

      @include md {
        margin-bottom: calc(100vw/(393/15));
      }

      @include sm {
        margin-bottom: 1.5rem;
      }
    }

    a {
      padding: 1rem 0;

      font-weight: 400;
      color: var(--blue-dark-2);

      &.is-active,
      &:hover {
        font-weight: 700;
        color: var(--purple);
      }
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include md {
      gap: calc(100vw/(393/40));
    }

    @include sm {
      gap: 4rem;
    }
  }

  &__messengers {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-title {
      font-weight: 700;
      color: var(--purple);
    }

    &-btns {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include md {
      display: none;
    }

    &-title {
      font-weight: 700;
      color: var(--purple);
    }

    &-btns {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .btn--social {
        max-width: 26.4rem;
        width: 100%;
      }
    }
  }

  &__foot {
    display: flex;
    flex-direction: row;
    gap: 12rem;

    color: var(--blue-dark-2);

    @include md {
      flex-direction: column-reverse;
      gap: calc(100vw/(393/30));
    }

    @include sm {
      gap: 3rem;
    }

    a {

      &:hover {
        color: var(--white);
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 1rem;

      font-weight: 400;
      font-size: 1.4rem;
      line-height: 143%;

      @include md {
        gap: calc(100vw/(393/10));
        font-size: calc(100vw/(393/14));
      }

      @include sm {
        gap: 1rem;
        font-size: 1.4rem;
      }
    }
  }

  &__made {
    white-space: nowrap;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include md {
      gap: calc(100vw/(393/10));
    }

    @include sm {
      gap: 1rem;
    }

    &-title {
      display: none;
      font-weight: 700;
      color: var(--purple);

      @include md {
        display: block;
      }
    }
  }

  &__form {
    padding: 12.2rem 14rem 11.5rem;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    border-radius: 10rem;

    position: relative;

    @include md {
      padding: calc(100vw/(393/40)) calc(100vw/(393/30)) calc(100vw/(393/30));
      border-radius: calc(100vw/(393/50));
    }

    @include sm {
      padding: 4rem 3rem 3rem;
      border-radius: 5rem;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      inset: 0;
      border-radius: 10rem;
      padding: 0.1rem;
      background:
        linear-gradient(135deg, var(--border-blue) -23%, var(--border-dark-blue-21) 25%) border-box,
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) border-box;
      -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.5s ease;

      @include md {
        border-radius: calc(100vw/(393/50));
      }

      @include sm {
        border-radius: 5rem;
      }
    }

    .form {

      &-wrap {

        @include md {
          margin-left: 0;
        }
      }
    }
  }
}