@use './../mixins' as *;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;

  transition: all 0.5s ease;

  &.out {

    @include domd {

      .header__wrap {
        transform: translateY(-18rem);
      }
    }
  }

  &__inner {}

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 4rem 0;
    transition: all 0.5s ease;
    margin-left: auto;
    width: fit-content;

    position: relative;
    z-index: 201;

    @include md {
      justify-content: space-between;
      padding: 3rem 0;
      margin-left: 0;
      width: 100%;
    }

    &:not(.page__inner) & {

      @include md {
        justify-content: flex-start;
      }
    }

    &::before {
      content: "";
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.03) 0%, rgba(80, 97, 255, 0.03) 100%);
      box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
      backdrop-filter: blur(6.35px);
      border-radius: 10rem;
      pointer-events: none;
      opacity: 0;
      transition: all 0.5s ease;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      .header.show:not(.menu--open .show) &,
      .page__inner .header:not(.menu--open .show) & {
        opacity: 1;
      }

      @include md {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      inset: 0;
      border-radius: 10rem;
      padding: calc(0.1rem / 2);
      background:
        linear-gradient(135deg, var(--border-blue) -23%, var(--border-dark-blue-21) 25%) border-box,
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) border-box;
      -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
      opacity: 0;
      transition: all 0.5s ease;

      .header.show:not(.menu--open .show) &,
      .page__inner .header:not(.menu--open .show) & {
        opacity: 1;
      }

      @include md {
        display: none;
      }
    }

    .page__inner .header:not(.menu--open .header.show) &,
    .show:not(.menu--open .show) & {

      @include domd {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        padding: 2.5rem 3.1rem 2.5rem 2.5rem;
        margin-top: 5.7rem;
        border-radius: 10rem;
        margin-left: 0;
        width: 100%;
      }
    }

    .page__inner .header:not(.menu--open .header.show) & {

      @include domd {
        padding: 1.5rem 3.1rem 1.5rem 2.5rem;
      }

      @include md {
        justify-content: space-between;
      }
    }
  }

  &__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    @include md {
      width: 100%;
    }

    .page__inner & {

      @include md {
        width: fit-content;
        gap: 0.8rem;
      }
    }

    .page__inner .header:not(.menu--open .header.show) &,
    .show:not(.menu--open .show) & {
      @include domd {
        justify-content: flex-end;
      }
    }
  }

  &__location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-right: 2.3rem;

    @include md {
      display: none;
    }

    &:hover {

      .btn {
        color: var(--pink);

        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }

        .border {

          &::before {
            opacity: 0;
          }

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  &__signup {
    min-width: 20rem;
    overflow: visible;

    position: relative;

    @include md {
      display: none;
    }

    &-btn {
      padding: 0 1rem 0 2rem;
      min-width: 19.9rem;

      .icon-chevron {
        transform: unset;

        .header__signup:hover & {
          transform: rotate(180deg);
        }
      }
    }

    &-content {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      transition: all 0.5s ease;
      width: calc(100% + 1rem + 8.4rem);

      border-radius: 2.4rem;
      background: radial-gradient(39.27% 41.96% at 50% 53.43%, #e4e9ff12 0%, #ad32ae12 100%);
      box-shadow: inset 0px 0px 11.4px #020a5169;
      backdrop-filter: blur(6.35px);

      position: absolute;
      top: calc(100% + 0.5rem);
      left: 0;
      z-index: 300;

      .header__signup:hover & {
        grid-template-rows: 1fr;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        inset: 0;
        border-radius: 2.4rem;
        padding: 0.1rem;
        background:
          linear-gradient(135deg, var(--border-pink) 0%, var(--border-dark-blue-21) 25%) border-box,
          linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) border-box;
        -webkit-mask:
          linear-gradient(#000 0 0) content-box,
          linear-gradient(#000 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      transition: all 0.5s ease;
      overflow: hidden;
      padding: 0 2rem;
      pointer-events: none;

      .header__signup:hover & {
        padding: 2rem;
        pointer-events: all;
      }
    }

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

    &-link {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 100%;
      text-transform: none;

      &:hover {
        color: var(--pink);
        text-decoration: underline;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 18.7rem;
      text-transform: none;

      p {
        font-weight: 400;
        font-size: 1.2rem;
        white-space: normal;

        &:first-child {
          font-weight: 700;
        }
      }
    }
  }
}