@use './../mixins' as *;

.logo {
  width: fit-content;
  height: 7rem;
  transition: opacity 0.5s ease;

  img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  .header & {
    display: none;
    opacity: 0;
  }

  .header.show:not(.menu--open .header.show) & {

    @include domd {
      display: block;
      opacity: 1;
    }
  }
}