@use './../mixins' as *;

.menu {

  &__list {
    width: 100%;
    padding: 8rem 0 0 12rem;
    overflow: hidden;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(25, 18, 39, 0.9), rgba(25, 18, 39, 0.9)), radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.03) 0%, rgba(80, 97, 255, 0.03) 100%);
    backdrop-filter: blur(1.855rem);
    transition: all 0.5s ease;

    @include md {
      padding: calc(100vw/(393/100)) calc(100vw/(393/20)) calc(100vw/(393/30)) calc(100vw/(393/20));
      height: 100%;

      background: unset;
      backdrop-filter: unset;
    }

    @include sm {
      padding: 10rem 2rem 3rem 2rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;

      @include md {
        gap: calc(100vw/(393/20));
      }

      @include sm {
        gap: 2rem;
      }
    }

    a {
      font-weight: 700;
      font-size: 5rem;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--blue-dark-2);
      white-space: nowrap;

      @include md {
        font-size: calc(100vw/(393/24));
      }

      @include sm {
        font-size: 2.4rem;
      }

      &:hover {

        @include domd {
          color: var(--pink);
          padding-left: 9.6rem;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    height: 100%;
    padding: 18rem 0 0 16rem;
    overflow: hidden;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(25, 18, 39, 0.9), rgba(25, 18, 39, 0.9)), radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.03) 0%, rgba(80, 97, 255, 0.03) 100%);
    backdrop-filter: blur(1.855rem);
    transition: all 0.5s ease;

    position: relative;

    @include md {
      gap: calc(100vw/(393/20));
      padding: calc(100vw/(393/30)) calc(100vw/(393/20)) calc(100vw/(393/80)) calc(100vw/(393/20));

      background: unset;
      backdrop-filter: unset;
    }

    @include sm {
      padding: 3rem 2rem 8rem 2rem;
      gap: 2rem;
    }

    &::before {
      content: "";
      width: 100%;
      height: 0.1rem;
      background: var(--blue-dark-1);
      box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
      backdrop-filter: blur(1.855rem);

      position: absolute;
      top: 13rem;
      left: 0;
      right: 0;

      @include md {
        top: 0;
      }
    }

    &::after {
      content: "";
      width: 0.1rem;
      height: 100%;
      background: var(--blue-dark-1);
      box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
      backdrop-filter: blur(1.855rem);

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      @include md {
        display: none;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    white-space: nowrap;

    @include md {
      gap: calc(100vw/(393/10));
    }

    @include sm {
      gap: 1rem;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: calc(100vw/(393/10));
      }

      @include sm {
        gap: 1rem;
      }
    }

    &-text,
    &-link {
      width: fit-content;

      font-family: var(--second-family);
      font-weight: 700;
      font-size: 3.4rem;
      line-height: 100%;

      @include md {
        font-size: calc(100vw/(393/24));
      }

      @include sm {
        font-size: 2.4rem;
      }
    }

    &-btns {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include md {
        gap: calc(100vw/(393/10));
      }

      @include sm {
        gap: 1rem;
      }
    }
  }
}