@use './../mixins' as *;

.plate {
  display: flex;
  align-items: flex-end;
  padding: 0 1rem;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  transition: all 0.5s ease;
  will-change: top;
  pointer-events: none;

  position: fixed;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 300;

  @include sm {
    top: 0;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    width: 100%;
    height: fit-content;
    padding: 0.5rem 0.6rem 0.5rem 0.8rem;
    margin-bottom: 0.5rem;
    pointer-events: all;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), radial-gradient(37.16% 39.27% at 50% 50%, rgba(228, 233, 255, 0.03) 0%, rgba(80, 97, 255, 0.03) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    border-radius: 10rem;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      inset: 0;
      border-radius: 10rem;
      padding: 0.1rem;
      background:
        linear-gradient(135deg, var(--border-blue) -23%, var(--border-dark-blue-21) 25%) border-box,
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) border-box;
      -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .btn--inner {
    width: calc(100% - 5rem - 11rem);
  }
}