@use './../mixins' as *;

.template {
  padding: 4rem 0;
  margin: 0;

  @include md {
    padding: calc(100vw/(393/30)) 0;
  }

  @include sm {
    padding: 3rem 0;
  }

  .page__inner & {
    margin: 0;

    @include md {
      margin: 0;
      padding-top: 0;
    }
  }

  &.template--bg {

    .general__title * {
      font-family: var(--second-family);
      font-style: normal;
      font-weight: 700;
      font-size: 12rem;
      line-height: 100%;
      padding-bottom: 1rem;

      @include md {
        font-size: calc(100vw/(393/50));
      }

      @include sm {
        font-size: 5rem;
      }
    }
  }

  &.template--cover {

    .general__title * {
      font-family: var(--second-family);
      font-style: normal;
      font-weight: 700;
      font-size: 12rem;
      line-height: 100%;
      padding-bottom: 1rem;

      @include md {
        font-size: calc(100vw/(393/50));
      }

      @include sm {
        font-size: 5rem;
      }
    }
  }

  &--primary {

    .general {

      &__title * {
        font-family: var(--second-family);
        font-style: normal;
        font-weight: 700;
        font-size: 12rem;
        line-height: 100%;

        @include md {
          font-size: calc(100vw/(393/50));
        }

        @include sm {
          font-size: 5rem;
        }
      }
    }

    .template {

      &__content {
        padding: 8.5rem 13.2rem 8.5rem;
        background: none;
        background-image: url(./../../images/temp/template-primary-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        overflow: hidden;
        box-shadow: none;
        backdrop-filter: none;

        @include md {
          padding: calc(100vw/(393/30)) calc(100vw/(393/20)) calc(100vw/(393/277));
          border-radius: 2.4rem;
          background-image: none;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.64% at 50% 50.47%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
          box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
          backdrop-filter: blur(6.35px);
        }

        @include sm {
          padding: 3rem 2rem 27.7rem;
        }

        .general {

          &__head {
            gap: 4rem;

            @include md {
              gap: calc(100vw/(393/20));
            }

            @include sm {
              gap: 2rem;
            }

            .btn {

              @include md {
                margin-top: calc(100vw/(393/20));
              }

              @include sm {
                margin-top: 2rem;
              }
            }
          }

          &__text {

            @include md {
              margin-left: 0;
            }
          }
        }
      }

      &__cover {
        width: auto;
        height: 57.4rem;

        position: absolute;
        right: 1.7rem;
        bottom: 0;

        @include md {
          height: calc(100vw/(393/272));

          right: unset;
          left: 50%;
          transform: translateX(-50%);
        }

        @include sm {
          height: 27.2rem;
        }

        img {
          max-width: none;
          width: auto;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include md {
      gap: calc(100vw/(393/20));
    }

    @include sm {
      gap: 2rem;
    }
  }

  .general {

    &__head {
      margin-bottom: 0;
    }

    &__title {

      * {
        font-family: var(--second-family);
        font-style: normal;
        font-weight: 700;
        font-size: 8rem;
        line-height: 120%;

        @include md {
          font-size: calc(100vw/(393/30));
        }

        @include sm {
          font-size: 3rem;
        }
      }
    }
  }

  &__body {}

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10.8rem;
    padding: 10rem 13.2rem 11.2rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.52% at 50% 50.32%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    border-radius: 10rem;
    // overflow: hidden;
    position: relative;

    .template--bg & {

      @include md {
        gap: calc(100vw/(393/54));
        padding: calc(100vw/(393/50)) calc(100vw/(393/20));
        border-radius: 2.4rem;
        overflow: hidden;
      }

      @include sm {
        gap: 5.4rem;
        padding: 30rem 2rem 13.4rem 2rem;
      }
    }

    .template--cover & {

      @include md {
        padding: calc(100vw/(393/30)) calc(100vw/(393/20)) 0;
        border-radius: 2.4rem;
        overflow: hidden;
        gap: 0;
      }

      @include sm {
        padding: 3rem 2rem 0;
      }
    }

    .border {

      @include md {
        --border-radius: 2.4rem;
      }
    }

    .general {

      &__head {
        display: flex;
        flex-direction: column;
        gap: 5.2rem;
        margin-bottom: 0;
        max-width: 78.2rem;

        @include md {
          gap: calc(100vw/(393/23));
        }

        @include sm {
          gap: 2.3rem;
        }
      }

      &__title {
        max-width: none;
        overflow: visible;
      }

      &__text {
        max-width: 46.2rem;
        opacity: 0.5;
        margin-left: 1rem;

        h6 {
          font-family: var(--font-family);
          font-weight: 400;
          line-height: 120%;
        }
      }
    }

    .btn {
      --btn-width: 8rem;
      --btn-height: 8rem;

      padding: 0;
      transform: rotate(90deg);

      @include md {
        --btn-width: calc(100vw/(393/50));
        --btn-height: calc(100vw/(393/50));
      }

      @include sm {
        --btn-width: 5rem;
        --btn-height: 5rem;
      }
    }
  }

  &__bg {
    pointer-events: none;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @include md {
      border-radius: 2.4rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__cover {
    width: 53.2rem;

    position: absolute;
    bottom: 0;
    right: 20.2rem;
    z-index: 6;

    @include md {
      width: calc(100vw/(393/180));
      margin-top: calc(-100vw/(393/51));
      position: relative;
      right: -0.7rem;
      margin-left: auto;
    }

    @include sm {
      width: 29rem;
      margin-top: -5.1rem;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}