@use './../mixins' as *;

.template {
  padding: 4rem 0;
  margin: 0;

  @include md {
    padding: 3rem 0;
  }

  .page__inner & {
    margin: 0;

    @include md {
      margin: 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include md {
      gap: 2rem;
    }
  }

  .general__head {
    margin-bottom: 0;
  }
}