@use './../mixins' as *;

html {
  --refRes: 1920;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: calc(100vw / var(--refRes) * 10);
  will-change: font-size;
  scroll-behavior: smooth;

  @include md {
    font-size: 62.5%;
  }
}

@media (min-width: 1921px) {

  html {
    $ratio: 0;
    font-size: calc(10px + ($ratio * 10) * ((100vw - var(--refRes) * 1px) / var(--refRes)));
  }
}

body {
  min-width: 320px;
  background-color: #0C0F1B;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
  color: var(--purple);
  cursor: default;

  @include md {
    font-size: calc(100vw/(393/14));
  }

  @include sm {
    font-size: 1.4rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 15.6rem;
  overflow: clip;

  @include md {
    padding-top: calc(100vw/(393/110));
  }

  @include sm {
    padding-top: 11rem;
  }
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

section {
  display: flex;
  margin-bottom: 7rem;

  @include md {
    margin-bottom: calc(100vw/(393/30));
  }

  @include sm {
    margin-bottom: 3rem;
  }

  .page__inner & {
    margin-bottom: 6rem;

    @include md {
      margin-bottom: calc(100vw/(393/30));
    }

    @include sm {
      margin-bottom: 3rem;
    }
  }
}

a {
  color: inherit;
  transition: all 0.5s ease;
}