@use './../mixins' as *;

/* Главный общий блок */
.general {

  &__head {
    margin-bottom: 5rem;

    @include md {
      margin-bottom: 2rem;
    }
  }

  &__title {
    max-width: 150rem;
    overflow: hidden;
  }

  &__text {
    will-change: filter;
  }
}

.breadcrumbs {

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    a {

      &:hover {
        color: var(--pink);
      }
    }

    &::after {
      content: "/";
    }

    &:last-child {

      &::after {
        display: none;
      }
    }
  }
}

.page {

  &__inner {

    @include md {
      padding-top: 11rem;
    }

    .opinion__head {
      align-items: center;
      margin-bottom: 4rem;

      @include md {
        margin-bottom: 2.4rem;
      }
    }

    .opinion__btns {
      margin: 0;
    }

    .works__item {

      .btn {
        margin: 0;
        bottom: 3rem;
        left: 4rem;
      }
    }
  }
}

.border {
  --border-radius: 10rem;

  display: flex;
  overflow: visible;
  width: 100%;
  height: 100%;
  pointer-events: none;
  flex-shrink: 0;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;

  @include md {
    --border-radius: 5rem;
  }

  a:hover & {

    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    inset: 0;
    border-radius: var(--border-radius);
    padding: calc(0.1rem / 2);
    background:
      linear-gradient(135deg, var(--border-blue) -23%, var(--border-dark-blue-21) 25%) border-box,
      linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) border-box;
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    inset: 0;
    border-radius: var(--border-radius);
    padding: calc(0.1rem / 2);
    background:
      linear-gradient(135deg, var(--border-pink) -23%, var(--border-dark-blue-21) 25%) border-box,
      linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) border-box;
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

[data-transform="fadeUpStagger"] {
  transition: transform 0.3s linear, opacity 0.3s linear !important;
  transform: translateY(50%);
  opacity: 0;
  will-change: transform, opacity;
}

[data-transform="fadeRightStagger"] {
  transition: transform 0.3s linear, opacity 0.3s linear !important;
  transform: translateX(20rem);
  opacity: 0;
  will-change: transform, opacity;
}

[data-animation="parallax-box"] {
  will-change: transform;
}

[data-animation="parallax-box-2x"] {
  will-change: transform;
}

[data-animation="parallax-img"] {
  overflow: hidden;

  img {
    height: 140% !important;
    margin-top: -20%;
    width: 100%;
    //   height: 150% !important;
    //   margin-top: -25%;
    object-fit: contain;

    //   @include sm {
    //     height: 120% !important;
    //     margin-top: -10%;
    //   }
  }
}

[data-animation="parallax-img-scale"] {
  overflow: hidden;

  img {
    //   width: 100%;
    //   height: 150% !important;
    //   margin-top: -25%;
    //   object-fit: cover;

    //   @include sm {
    //     height: 120% !important;
    //     margin-top: -10%;
    //   }
  }
}

[data-animation="blur"] {
  will-change: filter;
}

.item-bg {
  position: relative;

  &:hover {

    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.58% at 50% 50.4%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.58% at 50% 50.4%, rgba(228, 233, 255, 0.07) 0%, rgba(254, 154, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}