@use './../mixins' as *;

/* Главный общий блок */
.general {

  &__head {
    margin-bottom: 5rem;

    @include md {
      margin-bottom: 2rem;
    }
  }

  &__title {
    max-width: 150rem;
    overflow: hidden;
  }
}

.page {

  &__inner {
    padding-top: 24.6rem;
  }
}