@use './../mixins' as *;

/* Главный общий блок */
.general {

  &__head {
    margin-bottom: 5rem;

    @include md {
      margin-bottom: calc(100vw/(393/20));
    }

    @include sm {
      margin-bottom: 2rem;
    }
  }

  &__title {
    max-width: 150rem;
    overflow: visible;
  }

  &__text {
    will-change: filter;
  }

  &__cover {
    aspect-ratio: 1674/732;
    border-radius: 5rem;
    overflow: hidden;

    @include md {
      border-radius: 1.6rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.breadcrumbs {

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    overflow-x: auto;
    width: 100vw;
    width: 100dvw;
    padding: 0 var(--container-padding);
    margin-left: calc(var(--container-padding) * -1);

    &::-webkit-scrollbar {
      display: none;
    }

    @include md {
      gap: calc(100vw/(393/10));
    }

    @include sm {
      gap: 1rem;
    }
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    white-space: nowrap;

    @include md {
      gap: calc(100vw/(393/10));
    }

    @include sm {
      gap: 1rem;
    }

    a {

      &:hover {
        color: var(--pink);
      }
    }

    &::after {
      content: "/";
    }

    &:last-child {

      &::after {
        display: none;
      }
    }
  }
}

.border {
  display: flex;
  overflow: visible;
  width: 100%;
  height: 100%;
  pointer-events: none;
  flex-shrink: 0;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;

  a:hover & {

    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    inset: 0;
    border-radius: var(--border-radius);
    padding: calc(0.1rem / 2);
    background:
      linear-gradient(135deg, var(--border-blue) -23%, var(--border-dark-blue-21) 25%) border-box,
      linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) border-box;
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    inset: 0;
    border-radius: var(--border-radius);
    padding: calc(0.1rem / 2);
    background:
      linear-gradient(135deg, var(--border-pink) -23%, var(--border-dark-blue-21) 25%) border-box,
      linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) border-box;
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

[data-transform] {
  will-change: transform, opacity;
}

[data-transform="fadeUpStagger"] {
  transition: transform 0.3s linear, opacity 0.3s linear !important;
  transform: translateY(50%);
  opacity: 0;
  will-change: transform, opacity;
}

[data-transform="fadeRightStagger"] {
  transition: transform 0.3s linear, opacity 0.3s linear !important;
  transform: translateX(20rem);
  opacity: 0;
  will-change: transform, opacity;
}

[data-animation="parallax-box"] {
  will-change: transform;
}

[data-animation="parallax-box-2x"] {
  will-change: transform;
}

[data-animation="parallax-img"] {
  overflow: hidden;

  img {
    height: 140% !important;
    margin-top: -20%;
    width: 100%;
    object-fit: contain;
  }
}

[data-animation="parallax-img-scale"] {
  overflow: hidden;

  img {}
}

[data-animation="blur"] {
  will-change: filter;
}

.item-bg {
  overflow: hidden;

  position: relative;

  &:hover {

    @include domd {

      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &.accordion-active {

    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.58% at 50% 50.4%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.58% at 50% 50.4%, rgba(228, 233, 255, 0.07) 0%, rgba(254, 154, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.block-bg {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;
    flex-shrink: 0;
    inset: 0;
    border-radius: var(--border-radius);
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.5s ease;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.03) 0%, rgba(80, 97, 255, 0.03) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
  }
}

.sticky {

  &__item {

    @include sm {
      transition: all 0.5s ease;
      transform: scale(1);
      position: sticky;
      top: 0;
    }

    .over {
      display: block;
      width: 100%;
      height: 100%;
      transition: opacity 0.8s, transform 0.3s;
      border-radius: 2.4rem;
      background-color: #0C0F1B;
      opacity: 0;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    &.sticky__item-active {

      @include sm {
        transform: scale(0.9);
      }

      .over {

        @include sm {
          opacity: 0.9;
        }
      }
    }
  }
}

.page {

  &__inner {

    .wrapper {

      @include md {
        padding-top: calc(100vw/(393/110));
      }

      @include sm {
        padding-top: 11rem;
      }
    }

    body {
      background: radial-gradient(45.26% 14.26% at 29.38% 7.82%, rgba(173, 50, 174, 0.2) 0%, rgba(12, 15, 27, 0.2) 100%), #0C0F1B;
    }

    .header {

      &__wrap {

        @include md {
          padding: calc(100vw/(393/25)) 0 calc(100vw/(393/30));
        }

        @include sm {
          padding: 2.5rem 0 3rem;
        }
      }
    }

    .opinion__head {
      align-items: center;
      margin-bottom: 4rem;

      @include md {
        margin-bottom: calc(100vw/(393/24));
      }

      @include sm {
        margin-bottom: 2.4rem;
      }
    }

    .opinion__btns {
      margin: 0;
    }

    .works__item {

      .btn {
        margin: 0;
        bottom: 3rem;
        left: 4rem;
      }
    }
  }
}

.laser-removal-page {

  .template--primary .template__cover {
    width: auto;
    height: 68.7rem;

    top: 0.2rem;
    right: 10rem;
    bottom: unset;

    @include md {
      height: calc(100vw/(393/349));

      top: unset;
      right: unset;
      bottom: 0;
    }
  }

  .catalog {

    p {

      @include md {
        font-size: calc(100vw/(393/12));
      }

      @include sm {
        font-size: 1.2rem;
      }
    }

    &__item {
      width: 100%;
      height: 100%;
      min-height: unset;

      &-wrap {

        @include md {
          max-width: calc(100vw/(393/230));
        }

        @include sm {
          max-width: 23rem;
        }
      }

      &-content {
        padding: 3rem 3rem 4rem 3rem;

        @include md {
          padding: calc(100vw/(393/30)) calc(100vw/(393/20)) calc(100vw/(393/25)) calc(100vw/(393/20));
        }

        @include sm {
          padding: 3rem 2rem 2.5rem 2rem;
        }
      }
    }
  }
}