@use './../mixins' as *;

.swiper {

  &__btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @include md {
      gap: calc(100vw/(393/10));
    }
  }

  &-slide {
    height: auto;
  }

  &-pagination {
    position: static;
    margin: 1rem 0 0 0;
    line-height: 0.5rem;

    @include md {
      margin: calc(100vw/(393/10)) 0 0 0;
      line-height: calc(100vw/(393/5));
    }

    &-bullet {
      width: 0.5rem;
      height: 0.5rem;
      margin: 0 0.25rem !important;
      flex-shrink: 0;
      background-color: var(--blue-dark-1);

      @include md {
        width: calc(100vw/(393/5));
        height: calc(100vw/(393/5));
        margin: 0 calc(100vw/(393/2.5)) !important;
      }

      &-active {
        background-color: var(--pink);
      }
    }
  }
}

[class^="swiper-button-"],
[class*=" swiper-button-"] {
  --btn-border-radius: 10rem;

  width: 5rem;
  height: 5rem;
  transition: all 0.5s ease;

  color: var(--purple-80);

  position: relative;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  margin: 0;

  @include md {
    width: calc(100vw/(393/50));
    height: calc(100vw/(393/50));
  }

  @include sm {
    width: 5rem;
    height: 5rem;
  }

  &:hover {
    color: var(--pink);

    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }

    .border {

      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.5s ease;

    background: radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(80, 97, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    border-radius: var(--btn-border-radius);
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;

    background: radial-gradient(39.27% 39.27% at 50% 50%, rgba(228, 233, 255, 0.07) 0%, rgba(254, 154, 255, 0.07) 100%);
    box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);
    backdrop-filter: blur(6.35px);
    border-radius: var(--btn-border-radius);
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  i {
    font-size: 5rem;

    @include md {
      font-size: calc(100vw/(393/50));
    }

    @include sm {
      font-size: 5rem;
    }
  }
}

.swiper-button-prev {

  i {
    transform: rotate(90deg);
  }
}

.swiper-button-next {

  i {
    transform: rotate(-90deg);
  }
}

.f-panzoom__wrapper {
  border-radius: var(--border-radius);
  overflow: hidden;
}